### DOCKER TESSERACT LASAGNA

dbg: FALSE

# core
app: lasagna
canonical_url: "https://lasagna.gscloud.cz/"
date_default_timezone: "Europe/Prague"
project: LASAGNA
secret_cookie_key: secure.key
version: v1

# test origin override
test_origin: http://localhost:80

# Google OAuth 2.0
goauth_origin: "https://lasagna.gscloud.cz"
goauth_redirect: "https://lasagna.gscloud.cz/login"
local_goauth_origin: "http://localhost:9000"
local_goauth_redirect: "http://localhost:9000/login"

# Google
google: []

# Umami Analytics
umami: []

# alpha/beta hosts
alpha_hosts: []
beta_hosts: []

# cache profiles
cache_profiles: []

# Redis
redis: [
  #database: 0
  #host: "127.0.0.1"
  #password: ""
  #persistent: true
  #unix_socket: ""

  # disable Redis
  port: 0
  #port: 6379
  timeout: 1
]

# CSS sources
css_sources: [
  "https://cdn.gscloud.cz/css/fontawesome.min.css",
  "https://cdn.gscloud.cz/css/brands.min.css",
  "https://cdn.gscloud.cz/css/solid.min.css",
]

# CSS extra sources
css_sources_extra: [
  "/css/style.css",
]

# script sources
script_sources: [
  "https://cdn.gscloud.cz/js/materialize.min.js",
  "https://cdn.gscloud.cz/js/lazysizes.min.js",
  "https://cdn.gscloud.cz/js/main.js",
]

# script extra sources
script_sources_extra: [
]

# locales
locales: [
  default: "2PACX-1vRrx4arHlU3KLpy3Vlw_sX9iEZz2t_gZz5SV4NFa8ufcFqbVo1Cxgsp4J81-Z02cPNPJ9Jc7b_Qy_ay"
  admin: "2PACX-1vRDwThuqEPGHzRWCJNs3KRy1OO8gh_t0qMRH2e5N2Ok_dSf29tqxnAImE4pnc8B4qE_2ZJKgHIiyIIk"
  lasagna: "2PACX-1vSO_-SIQp7bgv3IWUdFaycOktA-D9AZDML8i2Lw-gqbkI8kZ1yDkM0DTWYbMla6A8DFSp-q87pqwZtJ"
]

# locales Sheets
lasagna_sheets: [
  default: "1z2a5X7HVR9To7FvxMfRm_6ZxHeTVljUO8BjjMkI3phI"
  admin: "1iwJNAuvHQtNOgxQfQK5TYtROzCwFOBFGeo7Vj-7_48Q"
  lasagna: "1cnFGiu0l3kXhMwyjRWUt61lPVbZDyYhxjnFpS94XIaI"
]

# UI design
design: [
  css_font: [
    "https://fonts.googleapis.com/css?family=Aladin&display=swap"
  ]
  footer_color: "black"
  nav_color: "orange"
  theme_color: "orange"
]

# locale overrides
locale_override: []

# Service Worker preload
swpreload: [
  "https://cdn.gscloud.cz/js/jquery.min.js"
  "https://cdn.gscloud.cz/css/materialize.min.css"
  "https://cdn.gscloud.cz/js/materialize.min.js"
  "https://cdn.gscloud.cz/js/main.js"
]

# Service Worker preload with CDN hash
swpreload_cdn: [
  "/css/style.css"
]
