# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml
docker/*

# PHPStan
phpstan.neon
phpstan_constants.php

# IDE
.vscode/
.DS_Store

# app
.env
data/*
logs/*
temp/*

# docs
*.md
LICENSE
