# Git
.git
.git*
_rebase

# Docker
.dockerignore
Dockerfile
docker/docker-compose.yml

# PHPStan
phpstan*

# IDE
.DS_Store
.editorconfig
.vscode/

# App
.env
.env.*
bin/
ci/*
data/*
logs/*
patches/
temp/*
app/*.redist
app/config_private.neon

# Docs
*.md
*.pdf
*.txt
LICENSE
CONTRIBUTORS.txt

# Other
apache/
remote_fixer.sh
