# Git
.git
.gitattributes
.gitignore
_rebase

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# PHPStan
phpstan.neon
phpstan_constants.php
phpstan_extra.sh

# IDE
.DS_Store
.editorconfig
.vscode/

# App
.env
.env.dist
bin/*
ci/*
data/*
logs/*
patches/*
temp/*
app/*.redist
app/config_private.neon
remote_fixer.sh

# Docs
*.md
*.pdf
*.txt
LICENSE
CONTRIBUTORS.txt
