APP_NAME="My App"
NAME=my_app_container

#PORT=9000
#TAG=gscloudcz/tesseract-lasagna:latest

HOST=host
USER=user

ORIG=/www/my_app
DEST=/www/my_app
DESTA=/www/alpha-my_app
DESTB=/www/beta-my_app

#ENABLE_ALPHA=1
#ENABLE_BETA=1
ENABLE_PROD=1
