parameters:
    level: 9
    ignoreErrors:
        - '#Call to function is_null\(\)#'
        - '#Expression on left side#'
        - '#If condition is always false#'
        - '#If condition is always true#'
        - '#Negated boolean expression is always true#'
        - '#Parameter \#2 \$value of method Adbar\\Dot#'
        - '#Right side of && is always true#'
        - '#Ternary operator condition is always true#'
        - identifier: missingType.iterableValue
        - identifier: missingType.property
    bootstrapFiles:
        - phpstan_constants.php
    dynamicConstantNames:
        - DEBUG
        - UPLOAD
        - CSP
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
