parameters:
    level: 9
    ignoreErrors:
        - '#If condition is always false\.#'
        - '#If condition is always true\.#'
    bootstrapFiles:
        - phpstan_constants.php
    dynamicConstantNames:
        - DEBUG
