<div id="data" class="row">
  <div class="container">

    <h4><i class="fa-solid small fa-database"></i>&nbsp;&nbsp;{{ l.a_locales }}&nbsp;&nbsp;<span id="csv_ping" class="mono">&nbsp;</span></h4>
    <p>{{ l.a_data_info }}</p>

    <div class="bl col s12 l4">
      <div id="a_update_info" style="margin:10px 0 10px 0;"></div>
    </div>

    <div class="bl col s12 l4">
      <div class="row center" style="margin:10px 0 10px 0;">
        <a
          id="showpins"
          class="waves-effect grey waves-light btn trans_pin hover"
          style="margin:5px;font-size:15px!important">{{ l.a_show_translations }}</a>
        <a
          id="a_update"
          class="tooltipped waves-effect waves-light green btn"
          style="margin:5px;"
          data-position="top"
          data-tooltip="{{ l.a_update_ttip }}"
          ><i
            class="fab fa-google-drive"></i>&nbsp;&nbsp;{{ l.a_update }}</a>
        <a
          id="a_flush"
          class="tooltipped waves-effect waves-light green btn"
          style="margin:5px;"
          data-position="top"
          data-tooltip="{{ l.a_flush_ttip }}"
          ><i
            class="fa-solid fa-rocket"></i>&nbsp;&nbsp;{{ l.a_flush }}</a>
      </div>
    </div>

    <div class="center bl col s12 l4">
      <p>
        {{^disable_articles}}
        <div class="white">
          <label for="ArticleURLSelect">{{ l.a_articles }}</label>
          <select id="ArticleURLSelect"></select>
        </div>
        <a
          id="a_summernote"
          class="tooltipped waves-effect waves-light green btn"
          style="margin:5px"
          data-position="top"
          data-tooltip="{{ l.a_summernote_ttip }}"
          ><i
            class="fas fa-edit"></i>&nbsp;&nbsp;{{ l.a_summernote }}</a>
        <a
          id="a_article"
          class="tooltipped waves-effect waves-light green btn"
          style="margin:5px"
          data-position="top"
          data-tooltip="{{ l.a_article_ttip }}"
          ><i
            class="fas fa-plus-square"></i>&nbsp;&nbsp;URL</a>
        <br>
        {{/disable_articles}}

        {{#CONST.UPLOAD}}
        <a
          id="a_upload"
          class="tooltipped waves-effect waves-light green btn"
          style="margin:5px"
          data-position="top"
          data-tooltip="{{ l.a_upload_ttip }}"
          ><i
            class="fas fa-upload"></i>&nbsp;&nbsp;UPLOAD</a>
        <a
          id="a_files"
          class="tooltipped waves-effect waves-light brown btn"
          style="margin:5px"
          data-position="top"
          data-tooltip="{{ l.a_files_ttip }}"
          ><i
            class="fa-solid fa-bucket"></i>&nbsp;&nbsp;<span id="files_count"></span></a>

        <div id="uploads_extended_info" class="center"></div>

        {{ l.a_max_post_size }}&nbsp;<b>{{ CONST.POST_MAX_SIZE }}</b>,
        {{ l.a_max_file_uploads }}&nbsp;<b>{{ CONST.MAX_FILE_UPLOADS }}</b>,
        {{ l.a_max_upload_size }}&nbsp;<b>{{ CONST.UPLOAD_MAX_FILESIZE }}</b>
        {{/CONST.UPLOAD}}

        {{^CONST.UPLOAD}}
        <b>{{ l.a_upload_disabled }}</b>
        {{/CONST.UPLOAD}}
      </p>
    </div>

    {{#model.x_count}}<b>MODEL X ({{ model.x_count }})</b>: {{#model.changes}}<b>{{.}}</b> {{/model.changes}}{{/model.x_count}}

  </div>
</div>
