<div id="news" class="col s12">
  <div class="container">
    <h4>OPEN SOURCE</h4>

    <b>FontAwesome</b> v6.6.0<br>
    <b>Lightbox</b> v2.11.4<br>
    <b>Materialize</b> v1.1.0<br>
    <b>Summernote</b> v0.8.18<br>
    <b>ZeroUpload</b> v1.0.0<br>
    <b>jQuery</b> v3.7.1<br>

    <h4>SHORTCODE</h4>
    <span style="font-family:monospace">
      [<b>markdown</b>] / [<b>markdownextra</b>]<br>
      [<b>image</b> &lt;name&gt;]
      [<b>imageleft</b> &lt;name&gt;]
      [<b>imageright</b> &lt;name&gt;]
      [<b>imageresp</b> &lt;name&gt;]
      [<b>gallery</b> &lt;mask&gt;]
      [<b>youtube</b> &lt;id&gt;]
      [<b>soundcloud</b> &lt;id&gt;]
    </span>

    <h4>{{ l.a_changes }}</h4>
    <div class="left-align">
      {{ l.a_changelog }}
    </div>

  </div>
</div>
