<style>
.shortcodes {font-family:monospace!important}
.shortcodes b {font-weight:bold!important}
.opensource {font-family:sans-serif!important}
.opensource a {color:#fff;text-decoration:underline!important}
.opensource b {font-weight:bold!important}
</style>

<div id="news" class="col s12">
  <div class="container">

    <p>{{ l.a_news_info }}</p>

    <h4>OPEN SOURCE</h4>
    <p>{{ l.a_news_os_info }}</p>

    <span class="opensource">
      <a target=_blank rel="nofollow" href="https://codemirror.net"><b>Codemirror</b></a>&nbsp;{{ codemirror }}<br>
      <a target=_blank rel="nofollow" href="https://fontawesome.com"><b>FontAwesome</b></a>&nbsp;6.7.2<br>
      <a target=_blank rel="nofollow" href="https://jquery.com"><b>jQuery</b></a>&nbsp;3.7.1<br>
      <a target=_blank rel="nofollow" href="https://github.com/lokesh/lightbox2"><b>Lightbox</b></a>&nbsp;2.11.4<br>
      <a target=_blank rel="nofollow" href="https://materializecss.com"><b>Materialize</b></a>&nbsp;1.1.0<br>
      <a target=_blank rel="nofollow" href="https://summernote.org"><b>Summernote</b></a>&nbsp;0.8.18<br>
      <a target=_blank rel="nofollow" href="https://github.com/jhuckaby/zeroupload"><b>ZeroUpload</b></a>&nbsp;1.0.0<br>
    </span>

    <h4>SHORTCODES</h4>
    <p>{{ l.a_news_sc_info }}</p>

    <span class="shortcodes">
      [<b>markdown</b>] / [<b>markdownextra</b>]<br>
      [<b>image</b>&nbsp;&lt;name&gt;]
      [<b>imageleft</b>&nbsp;&lt;name&gt;]
      [<b>imageright</b>&nbsp;&lt;name&gt;]
      [<b>imageresp</b>&nbsp;&lt;name&gt;]
      [<b>gallery</b>&nbsp;&lt;mask&gt;]
      [<b>youtube</b>&nbsp;&lt;id&gt;]
      [<b>soundcloud</b>&nbsp;&lt;id&gt;]
    </span>

  </div>
</div>
