<style>
.opensource {font-weight:bold}
.shortcodes {font-family:monospace}
.opensource {font-family:sans-serif}
.opensource a {color:#fff!important;text-decoration:underline!important}
</style>

<div id="news" class="col s12">
  <div class="container">

    <p>{{ l.a_news_info }}</p>
    <span class="opensource">
      <i
        aria-label="GitHub"
        class="fa-brands fa-square-github"></i>&nbsp;<a
        target=_blank
        rel="nofollow"
        href="https://github.com/GSCloud/lasagna/blob/master/CHANGELOG.md"><b>{{ l.a_changelog }}</b></a>
      <br>
    </span>

    <h4>OPEN SOURCE</h4>
    <p>{{ l.a_news_os_info }}</p>

    <span class="opensource">
      <a target=_blank rel="nofollow" href="https://codemirror.net"><b>CodeMirror</b></a>&nbsp;v{{ codemirror }}<br>
      <a target=_blank rel="nofollow" href="https://fontawesome.com"><b>FontAwesome</b></a>&nbsp;v6.7.2<br>
      <a target=_blank rel="nofollow" href="https://jquery.com"><b>jQuery</b></a>&nbsp;v3.7.1<br>
      <a target=_blank rel="nofollow" href="https://github.com/lokesh/lightbox2/releases"><b>Lightbox2</b></a>&nbsp;v2.11.5<br>
      <a target=_blank rel="nofollow" href="https://github.com/materializecss/materialize/releases"><b>Materialize</b></a>&nbsp;v1.2.2<br>
      <a target=_blank rel="nofollow" href="https://summernote.org"><b>Summernote</b></a>&nbsp;v0.8.18<br>
      <a target=_blank rel="nofollow" href="https://github.com/jhuckaby/zeroupload"><b>ZeroUpload</b></a>&nbsp;v1.0.0<br>
    </span>

    <h4>SHORTCODES</h4>
    <p>{{ l.a_news_sc_info }}</p>

    <span class="shortcodes">
      [<b>markdown</b>] / [<b>markdownextra</b>]<br><br>
      [<b>image</b>&nbsp;&lt;name&gt;]
      [<b>imageleft</b>&nbsp;&lt;name&gt;]
      [<b>imageright</b>&nbsp;&lt;name&gt;]
      [<b>imageresp</b>&nbsp;&lt;name&gt;]
      [<b>figure</b>&nbsp;&lt;name&gt;&nbsp;&lt;description&gt;]
      [<b>gallery</b>&nbsp;&lt;mask&gt;]
      <br>
      [<b>googlemap</b>&nbsp;&lt;location&gt;]
      [<b>soundcloud</b>&nbsp;&lt;id&gt;]
      [<b>youtube</b>&nbsp;&lt;id&gt;]
    </span>

  <br>
  <hr>
  <br>

  </div>
</div>
