<!-- EXTRA ADMIN STYLES -->
<link href="https://cdn.gscloud.cz/tesseract/css/admin.css?v12" rel="stylesheet">

<style>
#admin_main hr {border:0;clear:both;margin:0 auto}
#a_file_manager {padding-top:5px}
#a_file_manager .btn-small {line-height:25px;height:25px;padding:0 8px 0 8px}
#data b {font-weight:bold!important}
#searchbox {text-indent:1rem}
#uploadimagescount {border-radius:3px;border:1px solid #fff}
#uploads_extended_info {padding:10px}

.btn-stubs {margin:1px;font-size:0.8rem!important}
.btn-stubs:hover {background-color:red!important}
.fa-trash {margin-right:1rem}
.hide-images {display:none}
.tab>a {color:#fff!important}
.tabs .indicator {background-color: transparent!important}
.tabs a.active {border-bottom: 4px solid #fff!important}
.tabs {overflow: auto;overflow-x: hidden}
.tabs>li>a>i {margin-right:1rem;font-size:20px}
.upload-controls {margin:10px}
.warning {padding:5px}
.cursordefault {cursor:default!important}
.cursorpointer {cursor:pointer!important}
.model {padding:3px!important;margin:1px!important;background-color:#333;display:inline-block;border-radius:3px;}

/*  GROUP ICONS */
.group_icon_admin::before {content:"🫅 ";font-size:1.3rem}
.group_icon_editor::before {content:"🧑‍💼 ";font-size:1.3rem}
.group_icon_manager::before {content:"🧙 ";font-size:1.3rem}
.group_icon_tester::before {content:"👷 ";font-size:1.3rem}

div#data .bl {background:linear-gradient(to bottom, #333, #24202F, #101520);border:2px solid #000;border-radius:3px}
div#menutabbed .tabs {background:linear-gradient(to bottom, #666, #222)}

.identity-box {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  padding: 10px!important;
  border-radius: 3px;
  position: sticky!important;
  z-index: 99;
  top: 60px;
  right: 0;
}
</style>

<!-- CONTROL PANEL SWITCH -->
<span style="position:fixed;left:2px;top:2px;z-index:999999" class="noselect admin_panel_switch transparent hover white">
  <img
    src="https://cdn.gscloud.cz/img/LASAGNA_logo.webp"
    class="responsive-img notap"
    style="margin:1em;padding:5px;background-color:#fff;border-radius:50%"
    alt="{{ ENGINE }}"
    title="{{ ENGINE }}"
    width="32"
    height="32">
</span>

<!-- ADMIN PANEL -->
<div id="admin_main" class="row black white-text" style="display:none;margin:0!important;padding-bottom:1rem!important">

  <!-- CURRENT USER -->
  <div class="right identity-box">
    <div style="display:inline-block;margin:auto">
      <div class="nowrap">
        <b class="group_icon_{{ group }}">{{user.email}}</b>
      </div>
      <a
        id="logout"
        class="tooltipped waves-effect waves-light green btn"
        data-position="left"
        data-tooltip="{{ l.a_logout_ttip }}"
        href="/logout"
        ><i class="fas fa-sign-out-alt"></i></a>
      <a
        class="tooltipped waves-effect waves-light orange btn"
        data-position="bottom"
        data-tooltip="{{ canonical_url }}"
        href="{{ canonical_url }}?{{ nonce}}"
        rel="noreferrer noopener"
        ><i class="fa-regular fa-house"></i></a>
{{#admin_group_admin}}
      <a
        target="_blank"
        ref="nofollow"
        class="tooltipped waves-effect waves-light blue btn"
        data-tooltip="{{ l.a_auditlog_ttip  }}"
        data-position="left"
        href="/{{ cfg.admin }}/AuditLog?{{ nonce }}"
        ><i class="fas fa-list"></i></a>
      <a
        target="_blank"
        ref="nofollow"
        class="tooltipped waves-effect waves-light red btn"
        data-tooltip="{{ l.a_blocklog_ttip  }}"
        data-position="left"
        href="/{{ cfg.admin }}/BlockLog?{{ nonce }}"
        ><i class="fas fa-list"></i></a>
{{/admin_group_admin}}
    </div>
  </div>

  <!-- EXTERNAL LINKS -->
  <div class="row center black">
    {{#external_links}}
      <a
        href="{{ link }}"
        target="_blank"
        rel="noreferrer noopener"
        class="btn tooltipped {{#color}}{{color}}{{/color}}{{^color}}waves-green{{/color}} white-text"
        data-position="top"
        data-tooltip="{{ title }}"
        ><i class="fa-solid fa-arrow-up-right-from-square"></i><b>&nbsp;&nbsp;{{ name }}&nbsp;</b></a>
    {{/external_links}}
  </div>

  <!-- CUSTOM PANEL -->
  {{>admin_custom}}

  <!-- TABBED NAVIGATION -->
  <div id="menutabbed" class="row container noselect">
    <ul class="tabs grey darken-3 bold">
    {{^disable_data_admin}}
      <li class="tab col s2">
        <a data-id="data" href="#data"><i class="fa-solid small fa-database"></i><span class="hide-on-small-only"> {{ l.a_tab_data }}</span></a>
      </li>
    {{/disable_data_admin}}
    {{^disable_fn_admin}}
      <li class="tab col s2">
        <a data-id="fn" href="#fn"><i class="fa-solid small fa-robot"></i><span class="hide-on-small-only"> {{ l.a_tab_fn }}</span></a>
      </li>
    {{/disable_fn_admin}}
    {{^disable_services_admin}}
      <li class="tab col s2">
        <a data-id="services" href="#services"><i class="fa-solid small fa-screwdriver-wrench"></i><span class="hide-on-small-only"> {{ l.a_tab_services }}</span></a>
      </li>
    {{/disable_services_admin}}
    {{^disable_users_admin}}
      <li class="tab col s2">
        <a data-id="users" href="#users"><i class="fa-regular small fa-user"></i><span class="hide-on-small-only"> {{ l.a_tab_users }}</span></a>
      </li>
    {{/disable_users_admin}}
    {{^disable_dev_admin}}
      <li class="tab col s2">
        <a data-id="dev" href="#dev"><i class="fa-solid fa-user-secret"></i><span class="hide-on-small-only"> {{ l.a_tab_dev }}</span></a>
      </li>
    {{/disable_dev_admin}}
    {{^disable_news_admin}}
      <li class="tab col s2">
        <a data-id="news" href="#news"><i class="fa-solid small fa-circle-info"></i><span class="hide-on-small-only"> {{ l.a_tab_changes }}</span></a>
      </li>
    {{/disable_news_admin}}
    </ul>
  </div>

  <!-- DATA -->
  {{>admin_tab_data}}

  <!-- FN -->
  {{>admin_tab_fn}}

  <!-- SERVICES -->
  {{>admin_tab_services}}

  <!-- USERS -->
  {{>admin_tab_users}}

  <!-- DEV -->
  {{>admin_tab_dev}}

  <!-- NEWS -->
  {{>admin_tab_news}}

  <hr>

  <div class="row center">
    {{ l.a_fcgi }}: <span class=bold>{{#CONST.FCGI_ENABLED}}{{ l.a_on }}{{/CONST.FCGI_ENABLED}}{{^CONST.FCGI_ENABLED}}{{ l.a_off }}{{/CONST.FCGI_ENABLED}}</span>, &nbsp;
    {{ l.a_redis }}: <span class=bold>{{#CONST.REDIS_CACHE}}{{ l.a_on }}{{/CONST.REDIS_CACHE}}{{^CONST.REDIS_CACHE}}{{ l.a_off }}{{/CONST.REDIS_CACHE}}</span>
    <br>
    {{ l.a_limiter }}: <span class=bold id="limit">?</span> (<b>{{ CONST.LIMITER_MAXIMUM }}x</b> / {{ cache_profiles.limiter }}) &nbsp;
    {{ l.a_ban }}: <b>{{ CONST.BAN_MAXIMUM }}x</b> » {{ cache_profiles.ban }}
    <br>
    {{ l.a_model }}: <span class=bold id="time1">?</span> ms &nbsp;
    {{ l.a_processing }}: <span class=bold id="time2">?</span> ms &nbsp;
    {{ l.a_total }}: <span class=bold id="time3">?</span> ms
    <br>
  </div>

  <!-- UPLOADS -->
  <div class="container center" style="margin-top:2rem;margin-bottom:2rem">
    <div id="a_uploader_progress" style="display:inline-block;padding:10px;border:2px solid #aaa" class="center noselect hide bold grey darken-3 white-text"></div>
  </div>
  <div id="a_file_manager" class="noselect"></div>
</div>

<script nonce="{{ csp_nonce }}">
{{>admin_main.js.mustache}}
{{>admin_summernote.js.mustache}}
</script>

{{^disable_articles}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{ codemirror }}/codemirror.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{ codemirror }}/theme/material-darker.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{ codemirror }}/addon/display/fullscreen.min.css" rel="stylesheet">

<link href="https://cdn.gscloud.cz/summernote/{{ summernote }}/summernote-lite.min.css" rel="stylesheet">

<script nonce="{{ csp_nonce }}" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{ codemirror }}/codemirror.min.js" defer></script>
<script nonce="{{ csp_nonce }}" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{ codemirror }}/mode/xml/xml.min.js" defer></script>
<script nonce="{{ csp_nonce }}" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/{{ codemirror }}/addon/display/fullscreen.min.js" defer></script>

<script nonce="{{ csp_nonce }}" src="https://cdn.gscloud.cz/summernote/{{ summernote }}/summernote-lite.min.js" defer></script>
{{#langcs}}<script nonce="{{ csp_nonce }}" src="https://cdn.gscloud.cz/summernote/{{ summernote }}/lang/summernote-cs-CZ.min.js" defer></script>{{/langcs}}
{{#langsk}}<script nonce="{{ csp_nonce }}" src="https://cdn.gscloud.cz/summernote/{{ summernote }}/lang/summernote-sk-SK.min.js" defer></script>{{/langsk}}
{{#langde}}<script nonce="{{ csp_nonce }}" src="https://cdn.gscloud.cz/summernote/{{ summernote }}/lang/summernote-de-DE.min.js" defer></script>{{/langde}}
{{/disable_articles}}

<script nonce="{{ csp_nonce }}" src="https://cdn.gscloud.cz/tesseract/js/moment-with-locales.min.js" defer></script>
<script nonce="{{ csp_nonce }}" src="https://cdn.gscloud.cz/tesseract/js/zeroupload.min.js" defer></script>
