<div id="fn" class="container">

  <h4><i class="fa-solid fa-robot"></i> fn</h4>
  <p>{{ l.a_remote_fn_info }}</p>

  <div class="row center extrapadding">
    <div class="white">
      <label for="RemoteFnSelect">{{ l.a_remotefns }}</label>
      <select id="RemoteFnSelect">
        <option value="" disabled selected>&hellip;</option>
        <option value="CoreUpdateRemote">Core Data Update</option>
        <option value="FlushCacheRemote">Flush Local Cache</option>
        <option value="RebuildNonceRemote">Rebuild Auth Nonce</option>
        <option value="RebuildSecureKeyRemote">Rebuild Cookie Secure Key</option>
        <option value="RebuildAdminKeyRemote">Rebuild Administration Secure Key</option>
      </select>
    </div>
  </div>

</div>
