<div id="users" class="col s12">
    <!-- groups -->
    <div class="container">
      <h4>{{ l.a_groups_permissions }}</h4>
      <div class="white-text">
        <div class="row center">

          {{#admin_groups_masked}}
          <strong>🧑‍🤝‍🧑 ADMIN</strong>
          <div class="container">
            <div class="orange-text">{{#admin_groups_masked.admin}}{{ . }} {{/admin_groups_masked.admin}}
              {{^admin_groups_masked.admin}}<i class="red-text fas fa-times"></i>{{/admin_groups_masked.admin}}
            </div>
          </div>
          <br>

          <strong>🧑‍🤝‍🧑 MANAGER</strong>
          <div class="container">
            <div class="orange-text">{{#admin_groups_masked.manager}}{{ . }} {{/admin_groups_masked.manager}}
              {{^admin_groups_masked.manager}}<i class="red-text fas fa-times"></i>{{/admin_groups_masked.manager}}
            </div>
          </div>
          <br>

          <strong>🧑‍🤝‍🧑 EDITOR</strong>
          <div class="container">
            <div class="orange-text">{{#admin_groups_masked.editor}}{{ . }} {{/admin_groups_masked.editor}}
              {{^admin_groups_masked.editor}}<i class="red-text fas fa-times"></i>{{/admin_groups_masked.editor}}
            </div>
          </div>
          <br>
          {{/admin_groups_masked}}

        </div>
      </div>
    </div>
</div>
