{{^disable_users_admin}}
<div id="users" class="row">
  <div class="container">

    <h4><i class="fa-regular small fa-user"></i>&nbsp;&nbsp;{{ l.a_groups_permissions }}</h4>
    <p>{{ l.a_groups_info }}</p>

    <!-- groups -->
    <div>
      <div class="white-text">
        <div class="row">

          {{#admin_groups_masked}}
          <strong class="group_icon_admin">ADMIN</strong>
          <div class="container">
            <div class="orange-text">{{#admin_groups_masked.admin}}{{ . }} {{/admin_groups_masked.admin}}
              {{^admin_groups_masked.admin}}<i class="red-text fas fa-times"></i>{{/admin_groups_masked.admin}}
            </div>
          </div>
          <br>

          <strong class="group_icon_manager">MANAGER</strong>
          <div class="container">
            <div class="orange-text">{{#admin_groups_masked.manager}}{{ . }} {{/admin_groups_masked.manager}}
              {{^admin_groups_masked.manager}}<i class="red-text fas fa-times"></i>{{/admin_groups_masked.manager}}
            </div>
          </div>
          <br>

          <strong class="group_icon_editor">EDITOR</strong>
          <div class="container">
            <div class="orange-text">{{#admin_groups_masked.editor}}{{ . }} {{/admin_groups_masked.editor}}
              {{^admin_groups_masked.editor}}<i class="red-text fas fa-times"></i>{{/admin_groups_masked.editor}}
            </div>
          </div>
          <br>

          <strong class="group_icon_tester">TESTER</strong>
          <div class="container">
            <div class="orange-text">{{#admin_groups_masked.tester}}{{ . }} {{/admin_groups_masked.tester}}
              {{^admin_groups_masked.tester}}<i class="red-text fas fa-times"></i>{{/admin_groups_masked.tester}}
            </div>
          </div>
          <br>
          {{/admin_groups_masked}}

        </div>
      </div>
    </div>

  </div>
</div>
{{/disable_users_admin}}