{{#admin_group_admin}}
<!-- EXTRA STYLES -->
<link href="https://cdn.gscloud.cz/css/admin.css" rel="stylesheet">

<!-- WRENCH -->
<span style="position:fixed;left:0;top:0;z-index:999999" class="motyle btn white hide-on-med-and-down">🛠️</span>
<span style="position:fixed;right:0;top:0;z-index:999999" class="motyle btn white hide-on-large-only">🛠️</span>

<!-- ADMIN PANEL -->
<div id="admin_main" class="row center black white-text" style="display:none;margin:0!important">

  <!-- CUSTOM PANEL -->
  {{>admin_custom}}

  <!-- EXTERNAL SERVICES -->
  <div class="row center black">
    <div class="extrapadding" style="padding-top:2px">
      <a style="margin:2px;" class="tooltipped waves-effect blue waves-light btn bold" target="_blank" rel="noopener"
        data-position="top" data-tooltip="{{ l.a_google_account_ttip }}" href="https://myaccount.google.com/dashboard">
        {{ l.a_google_account }}</a>
      <a style="margin:2px;" class="tooltipped waves-effect blue waves-light btn bold" target="_blank" rel="noopener"
        data-position="top" data-tooltip="{{ l.a_google_password_ttip }}" href="https://passwords.google.com">
        {{ l.a_google_password }}</a>
      {{#google.google-site-verification}}
      <a style="margin:2px;" class="tooltipped waves-effect blue waves-light btn bold" target="_blank" rel="noopener"
        data-position="top" data-tooltip="{{ l.a_google_search_ttip }}"
        href="https://search.google.com/search-console?resource_id={{ canonical_url }}">
        {{ l.a_google_search }}</a>
      {{/google.google-site-verification}}
      {{#umami.id}}
      <a style="margin:2px;" class="tooltipped waves-effect blue waves-light btn bold" target="_blank" rel="noopener"
        data-position="top" data-tooltip="{{ l.a_umami_ttip }}"
        href="https://umami.gscloud.cz/websites/{{ umami.id }}">Umami</a>
      {{/umami.id}}
    </div>
  </div>

  <!-- EXTERNAL LINKS -->
  <div class="row center black">
    {{#external_links}}
      <a rel="noreferrer noopener" target="_blank" class="tooltipped green white-text" style="padding:4px;line-height:2em;border-radius:2px"
        data-position="top" data-tooltip="{{ title }}" href="{{ link }}"><b>&nbsp;{{ name }}&nbsp;</b></a>&nbsp;&nbsp;
    {{/external_links}}
  </div>

  <!-- ADMIN GRID -->
  <div class="row grid" style="overflow:hidden" style="padding-top:3px">

    <!-- 1st COLUMN -->
    <div class="col l4 m6 s12">
      <div class="row center extrapadding">
        <h5>{{ l.a_locales }}&nbsp;<span id="csv_ping" class="mono">&nbsp;</span></h5>
        <p id="a_update_info"></p>
        <p style="font-size:12px!important">
          <a class="waves-effect green waves-light btn trans_pin hover" style="font-size:15px!important">{{ l.a_show_translations }}</a>
          <br>
          <br>
          PHP <b>{{ PHP_VERSION }}</b> [<b>{{ app }} @ {{ CONST.DOMAIN }}</b>]
          <br>
          <b>{{ ENGINE }} rev. {{ REVISIONS }}</b><br>
          app&nbsp;code <b>{{ VERSION_SHORT }}</b> Deployed <b>{{ VERSION_DATE }}</b><br>
        </p>

        <h5>{{ l.a_cache }}</h5>
        <div class="container">
          <span class="nowrap">default: <b>{{ cache_profiles.default }}</b></span>&nbsp;
          <span class="nowrap">CSVs: <b>{{ cache_profiles.csv }}</b></span>&nbsp;
          <span class="nowrap">{{ l.a_limiter }}: <b>{{ CONST.LIMITER_MAXIMUM }}x</b> / <b>{{ cache_profiles.limiter }}</b></span>&nbsp;
          <span class="nowrap">{{ l.a_webpage }}: <b>{{ cache_profiles.page }}</b></span>
        </div>
        <div class="row center">
          <a id="a_update" style="margin:5px;" class="tooltipped waves-effect green waves-light btn"
            data-position="top" data-tooltip="{{ l.a_update_ttip }}">
            <i class="fab fa-google-drive"></i>&nbsp;&nbsp;&nbsp;{{ l.a_update }}</a>
          <a id="a_flush" style="margin:5px;" class="tooltipped waves-effect green waves-light btn"
            data-position="top" data-tooltip="{{ l.a_flush_ttip }}">
            <i class="fa-solid fa-rocket"></i>&nbsp;&nbsp;&nbsp;{{ l.a_flush }}</a>
        </div>

        <div id="domains" style="font-size:12px!important;color:#888!important" class="container"></div>
        <div class="col s12 white">
          <label>{{ l.a_articles }}</label>
          <select id="ArticleURLSelect"></select>
        </div>

        <a id="a_files"
          data-position="top" data-tooltip="{{ l.a_files_ttip }}"
          style="margin:5px" class="tooltipped waves-effect blue waves btn"><i class="fas fa-archive"></i></a>
        <a id="a_upload"
          data-position="top" data-tooltip="{{ l.a_upload_ttip }}"
          style="margin:5px" class="tooltipped waves-effect orange waves btn"><i class="fas fa-upload"></i></a>
        <a id="a_summernote"
          data-position="top" data-tooltip="{{ l.a_summernote_ttip }}"
          style="margin:5px" class="tooltipped waves-effect green waves-light btn">
          <i class="fas fa-edit"></i>&nbsp;{{ l.a_summernote }}</a>
        <a id="a_article"
          data-position="top" data-tooltip="{{ l.a_article_ttip }}"
          style="margin:5px" class="tooltipped waves-effect green waves-light btn">
          <i class="fas fa-plus-square"></i>&nbsp;URL</a>&nbsp;<span id="summer_ping" class="mono">&nbsp;</span>
      </div>
    </div>

    <!-- 2nd COLUMN -->
    <div class="col l4 m6 s12">
      <div class="row center extrapadding">
        <h5>fn()</h5>
        <div class="col s12 white">
          <label>{{ l.a_remotefns }}</label>
          <select id="RemoteFnSelect">
            <option value="" disabled selected>&hellip;</option>
            <option value="CoreUpdateRemote">Core Data Update</option>
            <option value="FlushCacheRemote">Flush Local Cache</option>
            <option value="RebuildNonceRemote">Rebuild Auth Nonce</option>
            <option value="RebuildSecureKeyRemote">Rebuild Cookie Secure Key</option>
            <option value="RebuildAdminKeyRemote">Rebuild Administration Secure Key</option>
          </select>
        </div>
      </div>

      <!-- GOOGLE -->
      <div class="">
        <div class="row center extrapadding hide-on-small-only">
          <div class="white-text">
            <h5>{{ l.a_google }} <i class="hover open_google fas fa-arrow-down blue-text"></i>
              <i class="hover close_google fas fa-arrow-up blue-text hide"></i></h5>
            <ul id="variables" class="mono hide">
              <li>GCP ID: {{ gcp_project_id }}
                {{^gcp_project_id}}
                <i class="red-text fas fa-times"></i>
                {{/gcp_project_id}}
              </li>
              <li>Maps 🔎: {{ google.map_query }}
                {{^google.map_query}}
                <i class="red-text fas fa-times"></i>
                {{/google.map_query}}
              </li>
              <li>Maps API key
                {{#google.mapsapi_key}}
                <span title="{{ google.mapsapi_key }}" class="protect">{{ google.mapsapi_key }}</span>
                {{/google.mapsapi_key}}
                {{^google.mapsapi_key}}
                <i class="red-text fas fa-times"></i>
                {{/google.mapsapi_key}}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- CHANGELOG -->
      <div class="hide-on-small-only">
        <div class="row center extrapadding">
          <h5>{{ l.a_changes }} <i class="hover open_news fas fa-arrow-down blue-text"></i>
            <i class="hover close_news fas fa-arrow-up blue-text hide"></i>&nbsp;<span class="yellow-text right hide" id="newsdot">!&nbsp;&nbsp;</span></h5>
          <div id="news" class="row grey-text hide" style="margin-top:1em">
            <div id="newscontent" class="grey-text left-align container">
              {{ l.a_changelog }}
            </div>
          </div>
        </div>
      </div>

      <!-- ICON BUTTONS -->
      <h4 class="center" style="font-size:2rem !important">
        <a title="{{ l.a_github_ttip }}" rel="noreferrer noopener" target="_blank" class="tooltipped blue-text text" data-position="top"
          data-tooltip="{{ l.a_github_ttip }}" href="https://github.com/gscloud"><i class="fab fa-git"></i></a>
        <a title="{{ l.a_sysinfo_ttip }}" rel="noreferrer noopener" target="_blank" class="tooltipped orange-text text" data-position="top"
          data-tooltip="{{ l.a_sysinfo_ttip }}" href="https://sys.gscloud.cz">
          <i class="fas fa-server"></i></a>
        <a title="{{ l.a_locale_template_ttip }}" rel="noreferrer noopener" target="_blank" class="tooltipped white-text text" data-position="top"
          data-tooltip="{{ l.a_locale_template_ttip }}" href="{{ l.a_locale_template_url }}">
          <i class="fas fa-clone"></i></a>
        <a title="{{ l.a_php_ttip }}" rel="noreferrer noopener" target="_blank" class="tooltipped blue-text text" data-position="top"
          data-tooltip="{{ l.a_php_ttip }}" href="https://php.gscloud.cz" style="font-size:0.8em">
          <span class="php1">p</span><span class="php2">h</span><span class="php3">p</span></a>
        {{#google_drive_backup}}
        <a title="{{ l.a_google_backup_ttip }}" rel="noreferrer noopener" target="_blank" class="tooltipped brown-text text" data-position="top"
          data-tooltip="{{ l.a_google_backup_ttip }}" href="{{ google_drive_backup }}">
          <i class="fas fa-warehouse"></i></a>
        {{/google_drive_backup}}
      </h4>
    </div>

    <!-- 3rd COLUMN -->
    <div class="col l4 m6 s12">

      <!-- CURRENT USER -->
      <div class="row center extrapadding">
        <h5>{{ l.a_groups_permissions }}</h5>
        <strong>{{user.name}}</strong><br>
        <i style="font-size:smaller">{{user.email}}</i><br>
        <a title="{{ l.a_logout_ttip }}" id="a_logout" class="tooltipped waves-effect green waves-light btn"
          data-position="top" data-tooltip="{{ l.a_logout_ttip }}">
          <i class="fas fa-sign-out-alt"></i>
          {{ l.a_logout }}</a>
        <a title="auditlog" target="_blank" ref="nofollow" href="/admin/AuditLog" class="waves-effect blue waves-light btn">
          <i class="fas fa-list"></i></a>
      </div>
      <div class="row center extrapadding">
        <div class="white-text">
          <div class="row center">
            <strong>ADMIN</strong>
            <div class="container">
              <p class="orange-text">{{#admin_groups.admin}}{{ . }} {{/admin_groups.admin}}
                {{^admin_groups.admin}}<i class="red-text fas fa-times"></i>{{/admin_groups.admin}}</p>
            </div>
            <strong>DEFAULT</strong>
            <div class="container">
              <p class="orange-text">{{#admin_groups.default}}{{ . }} {{/admin_groups.default}}
                {{^admin_groups.default}}<i class="red-text fas fa-times"></i>{{/admin_groups.default}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- UPLOADS -->
  <div id="a_uploader_progress"></div>
  <div id="a_file_manager"></div>

</div>

<script>
{{>admin_main.js.mustache}}
</script>

<!-- SUMMERNOTE -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/material-darker.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/display/fullscreen.min.css" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/xml/xml.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/addon/display/fullscreen.min.js" defer></script>

<link href="https://cdn.gscloud.cz/summernote/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.gscloud.cz/summernote/summernote-lite.min.js" defer></script>
{{#langcs}}<script src="https://cdn.gscloud.cz/summernote/lang/summernote-cs-CZ.min.js" defer></script>{{/langcs}}

<!-- MOMENT -->
<script src="https://cdn.gscloud.cz/js/moment-with-locales.min.js" defer></script>

<!-- ZEROUPLOAD -->
<script src="https://cdn.gscloud.cz/js/zeroupload.min.js" defer></script>
{{/admin_group_admin}}
