{{>html_header}}

<div class="container">
  <div class="row center-align">
    {{>title}}
    <div class="container grey lighten-2 content left-align" style="padding:2em">
      {{ l.main }}
    </div>
    <div class="row"></div>
    {{ l.shortcodes}}

    <h4><i class="fa-solid fa-arrow-pointer"></i> Emojis</h4>
    <div id="emojisdemo" class="hover">
      🌱🌲🌳🌴🌵🌶🌷🌸🌹🌺🌻🌼🌽🌾🌿🍀
    </div>

  </div>
</div>

<script nonce="{{ csp_nonce }}" src="https://cdn.gscloud.cz/tesseract/js/grapheme.min.js" defer></script>
<script nonce="{{ csp_nonce }}">
  (function (w, d, undefined) {
    if (w.GSC.init) {

      w.GSC.init.push(function () {
        w.GSC.names.push("demo - WebShare API");
        if (typeof window.WebShareFactory === "function") $("#emojisdemo").append(WebShareFactory(
          'WebShare API works!', '', 'DEMO'));
      });

      w.GSC.init.push(function () {
        w.GSC.names.push("demo - Grapheme Splitter");
        var splitter = new GraphemeSplitter();
        var graphemes = splitter.splitGraphemes($("#emojisdemo").text());
        var arr = graphemes.map(function (x) {
          return '<span class="ccemojisdemo">' + x + '</span>';
        });
        $("#emojisdemo").html(arr.join(''));
        $(".ccemojisdemo").click(function () {
          var x = $(this).text();
          GSC.CopyClipboard(x);
          M.toast({text: x, classes: "bigemoji"});
        });
      });

    }
  })(window, document);
</script>

<script nonce="{{ csp_nonce }}">
  (function (w, d, undefined) {
    if (w.GSC.init) {

{{^admin_group_admin}}
      // prevent context menu for customers
      w.oncontextmenu = function(e) {
        e.preventDefault();
        e.stopPropagation();
        e.stopImmediatePropagation();
        return false;
      };
{{/admin_group_admin}}

      w.GSC.init.push(function () {
        w.GSC.names.push("zoomer + intro vfx");

        GSC.zoomed = false;

        // easy image zoomer
        $('.img-container>img').click(function () {
          if ($(this).hasClass('zoomin')) {
            $('img.zoomin').removeClass('zoomin');
            GSC.zoomed = false;
          } else {
            $('img.zoomin').removeClass('zoomin');
            $(this).fadeOut(0).fadeIn(500).addClass('zoomin');
            GSC.zoomed = true;
          }
        });

        // zooom everything out on body click
        $('body').click(function () {
          if (GSC.zoomed) {
            $('img.zoomin').removeClass('zoomin');
            GSC.zoomed = false;
          }
        });

      });

    }
  })(window, document);
</script>

<style>.bigemoji{font-size:5em}</style>

{{>html_footer}}
