<style>
html {min-width:320px!important;}
hr {clear:both!important;border:0!important;margin:0!important;}
h4 .bold {padding:10px;border-radius:3px;}
h4 {line-height:2.5rem;}

#emojisdemo {font-size:3rem;}
#nav-mobile>li>a {color:#fff!important;}

.content {line-height: 1.5em;}
.content li {list-style-type: square!important;}
.h {display:none;}

/* images */
p:has(img) {display:block;text-align:center;text-indent:0;}
.zoomin {max-width:100%!important;z-index:999;}
div .img-container {text-align:center;}
span .img-container {text-align:center;}
.img-container {max-height:25%;display:inline-block;vertical-align:middle;}
.img-left-container img {float:left;overflow:hidden;margin:1rem;}
.img-right-container img {float:right;overflow:hidden;margin:1rem;}
.gallery-img {max-height:256px;cursor:pointer;border-radius:5px;z-index:0;}
.galleryspan-img {z-index:0;margin:1rem}

@media screen and (max-width: 399px) {
  .gallery-container {
    display:block;
    vertical-align:middle;
  }
}
@media screen and (min-width: 400px) {
  .gallery-container {
    display:grid;
    vertical-align:middle;
    grid-template-columns:repeat(2, 1fr);
    gap:10px;
  }
}
@media screen and (min-width: 600px) {
  .gallery-container {
    display:grid;
    vertical-align:middle;
    grid-template-columns:repeat(4, 1fr);
    gap:10px;
  }
}

/* some extras */
#nav-mobile a{font-size:1.5em}
.customicons {white-space:nowrap;}
.navbarmenu {border-right:2px solid white!important;}
.white-a {color:#fff!important;border-bottom:2px solid #fff}

/* external icons - remove xxx to work */
{{>xxxexternal_icons}}

</style>
