{{>html_header}}

<div class="container">
  <div class="row left-align">
    <br>
    <br>
    <div id="article" class="summernote"><div class="progress"><div class="indeterminate"></div></div></div>
  </div>
</div>

{{>html_footer}}
