{{#script_sources}}
<script defer src="{{ . }}"></script>
{{/script_sources}}
{{#script_sources_extra}}
<script defer src="{{ cdn }}{{ . }}"></script>
{{/script_sources_extra}}
{{#css_sources}}
<link rel="stylesheet" href="{{ . }}">
{{/css_sources}}
{{#css_sources_extra}}
<link rel="stylesheet" href="{{ cdn }}{{ . }}">
{{/css_sources_extra}}
{{#design}}{{#design.css_font}}
<link rel="stylesheet" href="{{ . }}">
{{/design.css_font}}{{/design}}
