{{>html_header}}

{{#shortcodes_menu}}
<div id=content class="">
  <div class="row center-align">
    {{>title}}
    <br>
    {{>share}}
    <br><br>
    <div class="center">
      {{>webshare}}
    </div>
    <div class="row customicons">
      {{ l.custom_icons }}
    </div>
    <div class="row customicons">
      {{ l.custom_icons2 }}
    </div>
    <h3><i class="fa-regular fa-heart"></i> Shortcodes</h3>
    <div class="row left-align container">

<pre>
{{ l.shortcodes_pre }}
</pre>

    </div>
    <div class="container row shortcodes">
      {{ l.shortcodes }}
    </div>
    <h3><i class="fa-solid fa-arrow-pointer"></i> Emojis</h3>
    <div id="emojisdemo" class="bigemoji hover">🌱🌲🌳🌴🌵🌶🌷🌸🌹🌺🌻🌼🌽🌾🌿🍀</div>
  </div>
</div>
{{/shortcodes_menu}}

{{^shortcodes_menu}}
<div id=content class="">
  <div class="row center-align">
    {{>title}}
    <br>
    {{>share}}
    <br><br>
    <div class="center">
      {{>webshare}}
    </div>
    <a
      target="_blank"
      rel="noopener nofollow"
      class="waves-effect btn white-text nowrap"
      data-umami-event="changelog"
      href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/GSCloud/lasagna/master/CHANGELOG.md.pdf">
      <i aria-label="GitHub" class="fa-brands fa-square-github"></i>&nbsp;&nbsp;<b>{{ l.a_changelog }}</b></a>
    <a
      target="_blank"
      rel="noopener nofollow"
      class="waves-effect btn white-text nowrap"
      data-umami-event="manual"
      href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/GSCloud/lasagna/master/TECHNICAL_DETAILS_EN.md.pdf">
      <i aria-label="GitHub" class="fa-brands fa-square-github"></i>&nbsp;&nbsp;<b>{{ l.a_manual }}</b></a>
    <a
      target="_blank"
      rel="noopener nofollow"
      class="waves-effect btn white-text nowrap"
      data-umami-event="LASAGNA defaults"
      href="https://docs.google.com/spreadsheets/d/1z2a5X7HVR9To7FvxMfRm_6ZxHeTVljUO8BjjMkI3phI/edit?usp=sharing">
      <i aria-label="Google Sheet" class="fa-solid fa-table-cells"></i>&nbsp;&nbsp;<b>LASAGNA&nbsp;DEFAULTS</b></a>
    <a
      target="_blank"
      rel="noopener nofollow"
      class="waves-effect btn white-text nowrap"
      data-umami-event="LASAGNA admin"
      href="https://docs.google.com/spreadsheets/d/1iwJNAuvHQtNOgxQfQK5TYtROzCwFOBFGeo7Vj-7_48Q/edit?usp=sharing">
      <i aria-label="Google Sheet" class="fa-solid fa-table-cells"></i>&nbsp;&nbsp;<b>LASAGNA&nbsp;ADMIN</b></a>
    <br><hr><br>
    <div class="container grey lighten-3 content left-align" style="padding:3rem;border-radius:0.5rem">
      {{ l.readme }}
    </div>
  </div>
</div>
{{/shortcodes_menu}}

<script nonce="{{ csp_nonce }}" src="https://cdn.gscloud.cz/tesseract/js/grapheme.min.js" defer></script>
<script nonce="{{ csp_nonce }}">
  (function (w, d, undefined) {
    if (w.GSC.init) {

      w.GSC.init.push(function () {
        w.GSC.names.push("demo - WebShare API");
        if (typeof window.WebShareFactory === "function") $("#emojisdemo").append(WebShareFactory(
          'WebShare API demo!', '', 'DEMO'));
      });

      w.GSC.init.push(function () {
        w.GSC.names.push("Grapheme splitter demo");
        var splitter = new GraphemeSplitter();
        var graphemes = splitter.splitGraphemes($("#emojisdemo").text());
        var arr = graphemes.map(function (x) {
          return '<span class="ccemojisdemo">' + x + '</span>';
        });
        $("#emojisdemo").html(arr.join(''));
        $(".ccemojisdemo").click(function () {
          var x = $(this).text();
          GSC.CopyClipboard(x);
          M.toast({text: x, classes: "bigemoji"});
        });
      });

    }
  })(window, document);
</script>

<script nonce="{{ csp_nonce }}">
  (function (w, d, undefined) {
    if (w.GSC.init) {

      // track element under pointer
      d.addEventListener('mousemove', e => {
      w.GSC.elfp = document.elementFromPoint(e.clientX, e.clientY)
      }, {passive:true});

{{#admin_group_admin}}
      // prevent context menu
      w.oncontextmenu = function(e) {
        if (!w.GSC.touch) return true;
        e.preventDefault();
        e.stopPropagation();
        e.stopImmediatePropagation();
        // hover the element under pointer on RMB or long-press
        if (w.GSC.elfp) {
          $(w.GSC.elfp).mouseover();
        }
        return false;
      };
{{/admin_group_admin}}
{{^admin_group_admin}}
      // prevent context menu
      w.oncontextmenu = function(e) {
        e.preventDefault();
        e.stopPropagation();
        e.stopImmediatePropagation();
        // click the element under pointer on RMB or long-press
        if (w.GSC.elfp) {
          $(w.GSC.elfp).click();
        }
        return false;
      };
{{/admin_group_admin}}

      w.GSC.init.push(function () {
        w.GSC.names.push("zoomer + intro vfx");

        GSC.zoomed = false;

        // easy image zoomer
        $('.img-container>img').click(function () {
          if ($(this).hasClass('zoomin')) {
            $('img.zoomin').removeClass('zoomin');
            GSC.zoomed = false;
          } else {
            $('img.zoomin').removeClass('zoomin');
            $(this).fadeOut(0).fadeIn(500).addClass('zoomin');
            GSC.zoomed = true;
          }
        });

        // zooom everything out on body click
        $('body').click(function () {
          if (GSC.zoomed) {
            $('img.zoomin').removeClass('zoomin');
            GSC.zoomed = false;
          }
        });

      });

    }
  })(window, document);
</script>

<style>.bigemoji{font-size:3rem}</style>

{{>html_footer}}
