<style>
html {min-width:320px!important}
hr {clear:both!important;border:0!important;margin:0!important}

#emojisdemo {font-size:3rem}
#nav-mobile>li>a {color:#fff!important}

.content {line-height: 1.5em}
.content li {list-style-type: square!important}
.h {display:none}

/* images */
p:has(img) {display:block;text-align:center;text-indent:0}
.zoomin {max-width:100%!important;z-index:999}
div .img-container {text-align:center}
span .img-container {text-align:center}
.img-container {max-height:25%;display:inline-block;vertical-align:middle}
.img-left-container img {float:left;overflow:hidden;margin:1rem}
.img-right-container img {float:right;overflow:hidden;margin:1rem}
.gallery-img {max-height:256px;cursor:pointer;border-radius:5px;z-index:0}

@media screen and (max-width: 399px) {
  .gallery-container {
    display:block;
    vertical-align:middle;
  }
}

@media screen and (min-width: 400px) {
  .gallery-container {
    display:grid;
    vertical-align:middle;
    grid-template-columns:repeat(2, 1fr);
    gap:10px;
  }
}

@media screen and (min-width: 600px) {
  .gallery-container {
    display:grid;
    vertical-align:middle;
    grid-template-columns:repeat(4, 1fr);
    gap:10px;
  }
}

/* external links icon */
#maincontent a[href^='http'] {padding-right:1.25em}
#maincontent a[href^='http']::after {
  position: absolute;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 0.25em;
  background-size: 100%;
  content: '';
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.2 12.2' width='14' height='14'%3E%3Cpath d='M5.7 0v1.5h4L4.5 6.7l1 1.1 5.3-5.2v3.9h1.4V0z'/%3E%3Cpath fill='none' d='M3.4 6.7l3-2.9H1.5v7h7V5.9l-3 2.9z'/%3E%3Cpath d='M8.5 5.9v4.9h-7v-7h4.9l1.5-1.6H0v10h10V4.4z'/%3E%3C/svg%3E");
}
</style>
