<div id="gscmodal" class="modal a_reset noprint" style="color:#000!important">
  <div class="modal-content center">
    <p style="color:#000!important;font-family:Arial!important;font-size:1.3em"><b>{{ ENGINE }}</b> build&nbsp;{{ REVISIONS }}</p>
    <div class="container row center">
      {{#is_logged}}
      <div class="col s12">
        <a
          rel="noindex nofollow"
          class="logout-button logout oauth btn blue gsc-blurbutton"
          data-umami-event="logout"
          href="/logout"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;{{ l.a_logout }}
        </a>
      </div>
      {{/is_logged}}
      {{^is_logged}}
      <div class="col s12">
        <a
          rel="noindex nofollow"
          class="login-button login oauth gsc-blurbutton"
          data-umami-event="login"
          href="/login"><img class="img-responsive" src="{{ cdn }}/img/google_signin.png" width=192 alt="{{ l.a_login }}">
        </a>
      </div>
      {{/is_logged}}
      <div class="col m6 s12 mono">
        <p>{{ l.a_footer_app }}<br>
        <b>{{ VERSION_SHORT }}</b></p>
      </div>
      <div class="col m6 s12 mono">
        <p>{{ l.a_footer_date }}<br>
        <b>{{ VERSION_DATE }}</b></p>
      </div>
    </div>
  </div>
</div>

<div class="footer-copyright grey darken-4 grey-text noselect noprint">
  <div class="row center">
  <br>
  <span style="font-size:1.2rem">{{ l.poweredby }}</span><br><br>
  <a
    target="_blank"
    rel="nofollow noopener"
    class="white-text"
    title="{{ l.$gsc }}"
    href="https://gscloud.cz/{{ lang }}">⛅️&nbsp;{{ l.$gsc }}</a>

  &nbsp;&nbsp;<a
    target="_blank"
    rel="nofollow noopener"
    class="white-text"
    href="https://gscloud.cz/privacy-policy.pdf">🕵&nbsp;{{ l.privacy_policy }}</a>

  &nbsp;&nbsp;<a
      target="_blank"
      rel="nofollow noopener"
      class="white-text"
      href="/GDPR.pdf">🇪🇺&nbsp;GDPR</a>

  &nbsp;&nbsp;<a
      target="_blank"
      rel="nofollow noopener"
      class="white-text" 
      title="SOS"
      href="mailto:{{ l.support_email }}{{^l.support_email}}support@gscloud.cz{{/l.support_email}}">🆘&nbsp;{{ l.support_email }}{{^l.support_email}}support@gscloud.cz{{/l.support_email}}</a>
    <br>

    <a
      target="_blank"
      rel="nofollow noopener"
      class="white-text"
      title="GitHub"
      href="https://github.com/GSCloud/lasagna"><i class="fa-brands fa-github blue-text"></i>&nbsp;GitHub</a>

    &nbsp;&nbsp;<a
      target="_blank"
      rel="nofollow noopener"
      class="white-text"
      href="/api"><i class="fa-solid fa-network-wired purple-text"></i>&nbsp;API</a>

    &nbsp;&nbsp;<a
      target="_blank"
      rel="nofollow noopener"
      class="white-text"
      title="Status Page"
      href="https://status.gscloud.cz"><i class="fa-solid fa-signal green-text"></i>&nbsp;status</a><br>

    <a
      target="_blank"
      rel="me nofollow"
      class="white-text"
      title="{{ l.author }}"
      href="{{ l.copyright_link }}{{^l.copyright_link}}https://hmcgames.com/fred{{/l.copyright_link}}">{{ l.author }}</a>&nbsp;{{ l.copyright }}{{^l.copyright}}2017-{{ l.$year }}{{/l.copyright}}
    <br>

    {{>footer_extras}}

    <div class="row center">
      <a
        rel="nofollow noreferrer"
        class="modal-trigger"
        href="#gscmodal"
        ><img
          src="https://cdn.gscloud.cz/img/LASAGNA_logo.webp"
          class="responsive-img notap"
          style="margin:1em;background-color:#fff;border-radius:15%"
          title="{{ ENGINE }}"
          alt="{{ ENGINE }}"
          width="{{l.gsc_footer_img_size}}{{^l.gsc_footer_img_size}}48{{/l.gsc_footer_img_size}}"
          height="{{l.gsc_footer_img_size}}{{^l.gsc_footer_img_size}}48{{/l.gsc_footer_img_size}}">
      </a>
    </div>
  </div>
</div>

<script nonce="{{ csp_nonce }}">
  (function (w, d, undefined) {
    if (w.GSC.init) {

      w.GSC.init.push(function () {
        w.GSC.names.push("GSC login");
        $(".login-button").on("click", function () {
          const uri = $(this).attr('href');
          $(this).prop('disabled', true).addClass('gsc-fade-blur-out').attr('href', '');
          setTimeout(function () {
            location.replace(uri)
          }, 300)
          return false;
        });
      });

      w.GSC.init.push(function () {
        w.GSC.names.push("GSC logout");
        $(".logout-button").on("click", function () {
          $(this).prop('disabled', true).addClass('gsc-fade-blur-out').attr('href', '');
          setTimeout(function () {
            location.replace('/logout')
          }, 300)
          return false;
        });
      });

    }
  })(window, document);
</script>

<style>
.gsc-blurbutton {
  transition: filter 500ms ease-in, opacity 500ms ease-in;
  filter: blur(0) grayscale(0);
  opacity: 1;
}
.gsc-fade-blur-out {
  filter: blur(30px) grayscale(1);
  opacity: 0;
}
</style>
