<div id="gscmodal" class="modal a_reset" style="color:#000!important">
    <div class="modal-content">
        <p style="color:#000!important;font-family:Arial!important;font-size:1.3em">{{ ENGINE }} rev. {{ REVISIONS }}</p>
        <div class="container row center">
            <div class="col l4 m6 s12">
                <p>{{ l.a_footer_app }}:
                    <br>
                    {{ VERSION_SHORT }}</p>
            </div>
            <div class="col l4 m6 s12">
                <p>{{ l.a_footer_date }}:
                    <br>
                    {{ VERSION_DATE }}</p>
            </div>
            <div class="col l4 m6 s12">

                {{#LOCALHOST}}{{#goauth_client_id}}{{#goauth_secret}}
                <a rel="nofollow" href="{{ local_goauth_redirect }}?nonce={{#sha256_nonce}}123{{/sha256_nonce}}"
                    class="oauth waves-effect waves-light blue btn-large z-depth-3">
                    {{ l.a_login }}<i class="material-icons right">cloud</i>
                </a>
                {{/goauth_secret}}{{/goauth_client_id}}{{/LOCALHOST}}

                {{^LOCALHOST}}{{#goauth_client_id}}{{#goauth_secret}}
                <a id="google-login-footer1" data-umami-event="google-login-footer1" rel="nofollow" href="{{ goauth_redirect }}?nonce={{#sha256_nonce}}123{{/sha256_nonce}}"
                    class="oauth waves-effect waves-light blue btn-large z-depth-3">
                    {{ l.a_login }}<i class="material-icons right">cloud</i>
                </a>
                {{/goauth_secret}}{{/goauth_client_id}}{{/LOCALHOST}}

                <br><br>

                {{#LOCALHOST}}{{#goauth_client_id}}{{#goauth_secret}}
                <a rel="nofollow" href="{{ local_goauth_redirect }}?nonce={{#sha256_nonce}}123{{/sha256_nonce}}&relogin"
                    class="oauth waves-effect waves-light red btn-large z-depth-3">
                    {{ l.a_relogin }}<i class="material-icons right">cloud</i>
                </a>
                {{/goauth_secret}}{{/goauth_client_id}}{{/LOCALHOST}}

                {{^LOCALHOST}}{{#goauth_client_id}}{{#goauth_secret}}
                <a id="google-login-footer2" data-umami-event="google-login-footer2" rel="nofollow" href="{{ goauth_redirect }}?nonce={{#sha256_nonce}}123{{/sha256_nonce}}&relogin"
                    class="oauth waves-effect waves-light red btn-large z-depth-3">
                    {{ l.a_relogin }}<i class="material-icons right">cloud</i>
                </a>
                {{/goauth_secret}}{{/goauth_client_id}}{{/LOCALHOST}}

            </div>
        </div>
    </div>
</div>

<div class="footer-copyright">
    <div class="row center">
        <a rel="noopener" target="_blank" class="white-text" href="https://gscloud.cz/{{ lang }}">⛅️&nbsp;{{ l.$gsc }}</a><br>
        <a rel="noopener" target="_blank" class="white-text"
            href="https://gscloud.cz/privacy-policy.pdf">🕵&nbsp;{{ l.privacy_policy }}</a>&nbsp;&nbsp; <a
            rel="noopener" target="_blank" class="white-text" href="/GDPR.pdf">🇪🇺&nbsp;GDPR</a>&nbsp;
        <a rel="noopener" target="_blank" class="white-text" href="mailto:support@gscloud.cz">🆘&nbsp;support@gscloud.cz</a><br>
        {{ l.poweredby }} &nbsp;<a rel="noopener" target="_blank" class="white-text" title="GitHub"
            href="https://github.com/GSCloud/lasagna"><i class="fab fa-git"></i></a><br>
        2017-{{ l.$year }}&nbsp;<a rel="noopener" target="_blank" class="white-text" href="https://mxd.cz">{{ l.author }}</a><br>
        <div class="container row center">
            <div class="row center">
                <div class="valign-wrapper">
                    <img class="responsive-img" src="/img/gsc.png" style="margin:1em" alt="{{ l.$gsc }}" width=32>
                    <img class="responsive-img" src="/img/pwa.png" style="margin:1em" alt="PWA" width=64>
                    <img class="responsive-img" src="https://cdn.gscloud.cz/img/materialize.svg" style="margin:1em" alt="MaterializeCSS" width=64>
                    <a class="modal-trigger" href="#gscmodal">
                        <img class="responsive-img" style="margin:1em;background-color:#fff;border-radius:15%"
                            src="https://cdn.gscloud.cz/img/LASAGNA_logo.webp" alt="{{ l.$generator }}" width="64" height="64">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
