{{^LOCALHOST}}
{{#umami.id}}
<script
    src="{{ umami.script }}{{^umami.script}}https://umami.gscloud.cz/script.js{{/umami.script}}"
    nonce="{{ csp_nonce }}"
    async
    data-website-id="{{ umami.id }}"></script>
{{/umami.id}}
{{/LOCALHOST}}
