<ul id="nav-mobile" class="sidenav {{ design.nav_color }} show-on-small">
  <li>
    <a class="{{#shortcodes_menu}}black{{/shortcodes_menu}}" href="/shortcodes">
      <i class="fa-solid fa-code right"></i>
      <b style="color:#fff!important">Shortcodes</b></a>
  </li>
  <li>
    <a class="{{#langen}}black{{/langen}}" href="/en">
      <i class="fas fa-language right"></i>
      <b style="color:#fff!important">{{ l.nav_en }}</b></a>
  </li>
  <li>
    <a class="{{#langcs}}black{{/langcs}}" href="/cs">
      <i class="fas fa-language right"></i>
      <b style="color:#fff!important">{{ l.nav_cz }}</b></a>
  </li>
  <li>
    <a class="{{#langsk}}black{{/langsk}}" href="/sk">
      <i class="fas fa-language right"></i>
      <b style="color:#fff!important">{{ l.nav_sk }}</b></a>
  </li>
  <li>
    <a class="{{#langde}}black{{/langde}}" href="/de">
      <i class="fas fa-language right"></i>
      <b style="color:#fff!important">{{ l.nav_de }}</b></a>
  </li>
</ul>
