<a
    class="waves-effect waves-light btn-small share green white-text"
    href="https://sharetomastodon.github.io/?title={{ l.og_title }}&url={{ canonical_url }}{{ request_path }}"
    target="_blank"><i class="fa-solid fa-share-nodes"></i>&nbsp;<i class="fa-brands fa-mastodon"></i>&nbsp;{{ l.share_mastodon }}</a>
<a
    class="waves-effect waves-light btn-small share green white-text"
    href="https://www.facebook.com/sharer/sharer.php?u={{ canonical_url }}{{ request_path }}"
    target="_blank"><i class="fa-solid fa-share-nodes"></i>&nbsp;<i class="fa-brands fa-facebook"></i>&nbsp;{{ l.share_facebook }}</a>
