<div class="section no-pad-bot">
  <section>
    <h1 data-admin-tooltip="title">{{ l.title }}</h1>
    <h4 class="container center black-text" data-admin-tooltip="motto">{{ l.motto }}</h4>
    <br>
    <img
      src="{{ cdn }}/img/logo.webp"
      class="responsive-img"
      width=128
      height=128
      alt="{{ l.title }}">
    <h3 class="light" data-admin-tooltip="intro">{{ l.intro }}</h3>
  </section>
</div>
