<div class="section no-pad-bot">
  <section>
    <h1 class="header center" data-admin-tooltip="title">{{ l.title }}</h1>
    <h4 class="header center black-text" data-admin-tooltip="motto">{{ l.motto }}</h4>
    <img class="responsive-img" width=128 src="{{ cdn }}/img/logo.webp" alt="{{ l.title }}">
    <h3 class="header col s12 light" data-admin-tooltip="intro">{{ l.intro }}</h3>
  </section>
</div>
