admin:
  method: GET|POST|DELETE
  path: '/admin/[a:p]'
  presenter: admin

login:
  assert_httpcode: 303
  path: /login
  presenter: login

logout:
  assert_httpcode: 303
  path: /logout
  presenter: logout

update_articles:
  assert_json: true
  method: POST
  path: '/UpdateArticles/[**:trailing]'
  presenter: admin

delete_articles:
  assert_json: true
  method: DELETE
  path: '/DeleteArticles/[**:trailing]'
  presenter: admin
