home:
  path: /
  sitemap: true
  sethl: true

admin_redirect:
  path: /admin
  redirect: "https://lasagna.gscloud.cz/login?relogin=true"

cs:
  language: cs
  path: /cs
  sitemap: true

en:
  language: en
  path: /en
  sitemap: true
