admin:
  path: '/admin/[a:p]'
  method: GET|POST|DELETE
  presenter: admin

login:
  path: /login
  presenter: login
  assert_httpcode: 303

logout:
  path: /logout
  presenter: logout
  assert_httpcode: 303
