### DOCKER SPECIFIC CONFIG
# @author Fred Brooker <git@gscloud.cz>

dbg: TRUE
#dbg: FALSE

# origin override
test_origin: "http://localhost:80"

# Google OAuth 2.0
local_goauth_origin: "http://localhost:9000"
local_goauth_redirect: "http://localhost:9000/login"

# Redis off
redis: [
  port: 0
]

# Docker info
running_in_docker: true
