# @author Fred Brooker <git@gscloud.cz>
# Content Security Policy

csp: [
    "Content-Security-Policy: "
    "report-to"
    "default;"
    "report-uri"
    "https://gscloud.cz;"

    "base-uri"
    "'self';"

    "default-src"
    "'self'"
    "data:"
    "blob:"
    "https:;"

    "object-src"
    "'none';"

    "connect-src"
    "'self'"
    "https:;"

    "font-src"
    #"'unsafe-inline'"
    "'self'"
    "data:"
    "cdn.gscloud.cz"
    "cdn.hmcgames.com"
    "*.gstatic.com;"

    "script-src"
    "'self'"
    "*.googleapis.com"
    "cdn.gscloud.cz"
    "cdnjs.cloudflare.com"
    "challenges.cloudflare.com"
    "gspace.gscloud.cz"
    "static.cloudflareinsights.com"
    "umami.gscloud.cz"
    "'strict-dynamic'"
    "'nonce-random';"

    "img-src"
    "'self'"
    "data:"
    "https:;"

    "style-src"
    #"data:"
    "'self'"
    "'unsafe-inline'"
    "https:;"

    "media-src"
    "'self'"
    "data:"
    "https:;"

    "worker-src"
    "'self';"

    "frame-src"
    "'self'"
    "api.soundcloud.com"
    "player.twitch.tv"
    "player.vimeo.com"
    "w.soundcloud.com"
    "www.google.com"
    "youtube.com"
    "www.youtube.com;"
    
    "form-action"
    "'self'"
    "https:;"
]
