# @author Fred Brooker <git@gscloud.cz>
# Content Security Policy

csp: [
    "Content-Security-Policy: "
    "report-to"
    "default;"
    "report-uri"
    "https://gscloud.cz;"

    "object-src"
    "'none';"

    "default-src"
    "'unsafe-inline'"
    "'self'"
    "https://*;"

    "connect-src"
    "'self'"
    "https://*;"

    "font-src"
    "data:"
    "'self'"
    "'unsafe-inline'"
    "cdn.gscloud.cz"
    "gspace.gscloud.cz"
    "*.gstatic.com;"

    "script-src"
    "*.googleapis.com"
    "cdn.gscloud.cz"
    "gspace.gscloud.cz"
    "cdnjs.cloudflare.com"
    "static.cloudflareinsights.com"
    "umami.gscloud.cz"
    "'self'"
    "'strict-dynamic'"
#    "'unsafe-eval'"
#    "'unsafe-inline'"
    "'nonce-random';"

    "img-src"
    "*"
    "'self'"
    "'unsafe-inline'"
    "cdn.gscloud.cz"
    "gspace.gscloud.cz"
    "data:;"
    
    "form-action"
    "https://*"
    "'self';"
]
