"bandcampicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-bandcamp deep-orange-text text-darken-4"></i>&nbsp;&nbsp;'# Bandcamp is dark orange/brown
"bskyicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-bluesky light-blue-text text-darken-3"></i>&nbsp;&nbsp;'# Bluesky is a shade of blue
"discordicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-discord purple-text text-darken-1"></i>&nbsp;&nbsp;'# Discord is purplish
"dropboxicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-dropbox blue-text text-darken-2"></i>&nbsp;&nbsp;'# Dropbox is blue
"facebookicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-facebook blue-text text-darken-4"></i>&nbsp;&nbsp;'# Facebook is dark blue
"githubicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-github grey-text text-darken-2"></i>&nbsp;&nbsp;'# GitHub is black/dark grey
"gitlabicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-gitlab deep-orange-text text-darken-3"></i>&nbsp;&nbsp;'# GitLab is orange
"googleplayicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-google-play light-green-text text-accent-4"></i>&nbsp;&nbsp;'# Google Play is a vibrant green
"gumroadicon ": '&nbsp;&nbsp;<i class="fa-2x fa-solid fa-store grey-text text-darken-3"></i>&nbsp;&nbsp;' # Gumroad is dark grey
"instagramicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-instagram pink-text text-accent-2"></i>&nbsp;&nbsp;'# Instagram pink is a good choice
"itchioicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-itch-io deep-orange-text text-darken-3"></i>&nbsp;&nbsp;'# Itch.io is orange
"kofiicon ": '&nbsp;&nbsp;<i class="fa-2x fa-solid fa-coffee deep-orange-text text-darken-3"></i>&nbsp;&nbsp;'# Ko-fi is orange
"linkedinicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-linkedin blue-text text-darken-4"></i>&nbsp;&nbsp;'# LinkedIn is dark blue
"mastodonicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-mastodon indigo-text text-darken-1"></i>&nbsp;&nbsp;'# Mastodon is a dark blue/indigo
"mediumicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-medium grey-text text-darken-4"></i>&nbsp;&nbsp;'# Medium is typically black/dark grey
"mobygamesicon ": '&nbsp;&nbsp;<span class="fa-2x">🕹️</span>&nbsp;&nbsp;'# Mobygames has no emoji
"patreonicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-patreon deep-orange-text text-darken-3"></i>&nbsp;&nbsp;'# Patreon is orange
"paypalicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-paypal blue-text text-darken-3"></i>&nbsp;&nbsp;'# PayPal is a specific shade of blue
"pinteresticon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-pinterest red-text text-darken-2"></i>&nbsp;&nbsp;'# Pinterest is dark blue
"redditicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-reddit deep-orange-text text-accent-3"></i>&nbsp;&nbsp;'# Reddit is orange
"rssicon ": '&nbsp;&nbsp;<i class="fa-2x fa-solid fa-rss orange-text text-darken-2"></i>&nbsp;&nbsp;'# RSS is orange
"soundcloudicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-soundcloud deep-orange-text"></i>&nbsp;&nbsp;'# SouncCloud is vibrant orange
"spotifyicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-spotify green-text text-darken-4"></i>&nbsp;&nbsp;'# Spotify is dark green
"steamicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-steam grey-text text-darken-2"></i>&nbsp;&nbsp;'# Steam is a dark grey/anthracite
"telegramicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-telegram blue-text text-lighten-2"></i>&nbsp;&nbsp;'# Telegram is dark green
"twitchicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-twitch purple-text text-darken-2"></i>&nbsp;&nbsp;'# Twitch is purple
"webicon ": '&nbsp;&nbsp;<i class="fa-2x fa-solid fa-share-nodes green-text text-darken-2"></i>&nbsp;&nbsp;'
"whatsappicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-whatsapp green-text text-darken-3"></i>&nbsp;&nbsp;'# WhatsApp is dark green
"youtubeicon ": '&nbsp;&nbsp;<i class="fa-2x fa-brands fa-youtube red-text text-darken-4"></i>&nbsp;&nbsp;'# YouTube is dark red

"cloudflareicon": '&nbsp;&nbsp;<i title="Cloudflare" class="fa-solid fa-shield-halved orange-text text-darken-3"></i>&nbsp;' # CLOUDFLARE
"dockericon": '&nbsp;&nbsp;<i title="Docker" class="fa-brands fa-docker light-blue-text text-darken-4"></i>&nbsp;' # DOCKER
"googleicon": '&nbsp;&nbsp;<i title="Google" class="fa-brands fa-google red-text text-darken-1"></i>&nbsp;'# GOOGLE
"gscloudicon": '&nbsp;&nbsp;<i title="GS Cloud" class="fa-solid fa-cloud yellow-text text-lighten-1"></i>&nbsp;' # GSC
"hetznericon": '&nbsp;&nbsp;<i title="Hetzner" class="fa-solid fa-server deep-purple-text text-lighten-1"></i>&nbsp;' # HETZNER
"lasagnaicon": '&nbsp;&nbsp;<i title="Tesseract Lasagna" class="fa-solid fa-layer-group yellow-text text-darken-1"></i>&nbsp;' # TESSERACT LASAGNA
