# @author Fred Brooker <git@gscloud.cz>
# extra routes, mostly to supply content

GetEnArticle:
  path: '/en/id/[**:trailing]'
  language: en
  presenter: article

GetCsArticle:
  path: '/cs/id/[**:trailing]'
  language: cs
  presenter: article

GetSkArticle:
  path: '/sk/id/[**:trailing]'
  language: sk
  presenter: article

GetDeArticle:
  path: '/de/id/[**:trailing]'
  language: de
  presenter: article

ReadArticles:
  path: '/ReadArticles/[a:profile]/[a:hash]'
  assert_json: true
  method: GET
  presenter: core

GetQR:
  path: "/qr/[s|m|l|x:size]/[**:trailing]"
  api: true
  api_description: "Get QR code as image"
  api_info: "Parameters:\n<b><size = s/m/l/x></b> - image size,\n<b><trailing></b> - text to render.\n\nResult (binary): image."
  method: GET|POST
  presenter: core
  api_example: [
    "qr/s/Hello World!"
    "qr/m/https://example.com"
  ]
