defaults:
  api: false
  api_description: ""
  api_example: []
  api_info: ""
  assert_httpcode: 200
  assert_json: false
  assert_values: []
  cached: false
  deprecated: false
  finished: false
  language: cs
  method: GET
  presenter: home
  private: false
  sethl: false
  sitemap: false
  template: index
  use_key: false
  view: home

GetWebManifest:
  path: /manifest.json
  presenter: core
  cached: true

GetSitemap:
  path: /sitemap.txt
  presenter: core
  cached: true

GetServiceWorker:
  path: /sw.js
  presenter: core
  cached: true

GetAndroidJs:
  api: true
  api_description: "Get Android JS"
  api_info: "Returns (JSON): version SHA256 hash (string) + Android JS (string)."
  path: /android/js
  presenter: core

GetAndroidCss:
  api: true
  api_description: "Get Android CSS"
  api_info: "Returns (JSON): version SHA256 hash (string) + Android CSS (string)."
  path: /android/css
  presenter: core

GetCsArticle:
  path: '/cs/id/[**:trailing]'
  language: cs
  presenter: article

GetEnArticle:
  path: '/en/id/[**:trailing]'
  language: en
  presenter: article

API:
  path: /api
  api: true
  api_description: "Show REST API dashboard"
  api_info: "This page 🐱"
  presenter: core

GetCoreVersion:
  path: /version/core
  api: true
  api_description: "Get core version"
  api_info: "Returns (JSON): version SHA256 hash (string) + number of git revisions (integer)."
  assert_json: true
  method: GET|POST
  presenter: core

GetCsDataVersion:
  path: /cs/version/data
  api: true
  api_description: "Get Czech locale version"
  api_info: "Returns (JSON): version SHA256 hash (string)."
  assert_json: true
  language: cs
  method: GET|POST
  presenter: core

GetEnDataVersion:
  path: /en/version/data
  api: true
  api_description: "Get English locale version"
  api_info: "Returns (JSON): version SHA256 hash (string)."
  assert_json: true
  language: en
  method: GET|POST
  presenter: core

ReadArticles:
  path: '/ReadArticles/[a:profile]/[a:hash]'
  api: true
  api_description: "Get articles as JSON"
  api_info: "Parameters:\n<b><a:profile></b> - profile name,\n<b><a:hash></b> - hexadecimal URL stub hash.\n\nReturns (JSON): HTML data (JSON) + checksum hash (string)."
  api_example: [
    "ReadArticles/default/3b8b91c75627bee566dcb88f4805901b20a3eab2520bcff8d26c87157a035026"
  ]
  assert_json: true
  method: GET
  presenter: core

GetCsArticleHTMLExport:
  path: '/cs/exportHTML/[a:profile]/[**:trailing]'
  language: cs
  api: true
  api_description: "Get articles as HTML"
  api_info: "Parameters:\n<b><a:profile></b> - profile name (default),\n<b><trailing></b> - URL stub.\n\nReturns (HTML): data."
  api_example: [
    "cs/exportHTML/default/!"
    "cs/exportHTML/default/id/demo"
  ]
  assert_json: false
  method: GET
  presenter: core

GetEnArticleHTMLExport:
  path: '/en/exportHTML/[a:profile]/[**:trailing]'
  language: en
  api: true
  api_description: "Get articles as HTML"
  api_info: "Parameters:\n<b><a:profile></b> - profile name (default),\n<b><trailing></b> - URL stub.\n\nReturns (HTML): data."
  api_example: [
    "en/exportHTML/default/!"
    "en/exportHTML/default/id/demo"
  ]
  assert_json: false
  method: GET
  presenter: core

GetError:
  path: '/err/[i:code]'
  api: true
  api_description: "Get error page"
  api_info: "Parameters:\n<b><code></b> - numeric error code\n\nReturns: HTML page."
  cached: true
  method: GET|POST
  presenter: error
  api_example: [
    "err/404"
    "err/420"
    "err/500"
  ]

GetQR:
  path: "/qr/[s|m|l|x:size]/[**:trailing]"
  api: true
  api_description: "Get QR code as image"
  api_info: "Parameters:\n<b><size = s/m/l/x></b> - image size,\n<b><trailing></b> - text to render.\n\nReturns (binary): image."
  method: GET|POST
  presenter: core
  api_example: [
    "qr/s/Hello World!"
    "qr/m/https://example.com"
  ]

ReadEpubBook:
  path: "/readEPUB/[**:trailing]"
  api: true
  api_description: "Read ebook in EPUB format"
  api_info: "Parameters:\n<b><trailing></b> - relative path to the EPUB file (without .epub extension) under www/\n\nReturns (HTML): EPUB reader."
  method: GET
  presenter: core
  template: epub
  api_example: [
    "readEPUB/epub/alice"
  ]
