# @author Fred Brooker <git@gscloud.cz>
# core routes, mandatory - see CorePresenter.php

GetWebManifest:
  path: /manifest.json
  api: true
  api_description: "PWA manifest."
  api_info: "Returns (JSON): configuration file."
  assert_json: true
  presenter: core

GetRobotsTxt:
  path: /robots.txt
  api: true
  api_description: "Robots file."
  api_info: "Returns (TEXT): text file."
  presenter: core

GetTXTSitemap:
  path: /sitemap.txt
  api: true
  api_description: "Crawler TEXT sitemap."
  api_info: "Returns (TEXT): text file."
  presenter: core

GetXMLSitemap:
  path: /sitemap.xml
  api: true
  api_description: "Crawler XML sitemap."
  api_info: "Returns (XML): markup."
  presenter: core

GetRSSXML:
  path: /rss.xml
  api: true
  api_description: "RSS demo for future applications."
  api_info: "Returns (XML): markup."
  presenter: core

GetServiceWorker:
  path: /sw.js
  api: true
  api_description: "Service Worker code."
  api_info: "Returns (JavaScript): code."
  presenter: core

GetCoreVersion:
  path: /version/core
  api: true
  api_description: "Core version"
  api_info: "Returns (JSON): SHA256 hash (string), number of git revisions (integer), modification timestamp (integer), modification date (D. M. YYYY)."
  assert_json: true
  method: GET|POST
  presenter: core

GetEnDataVersion:
  path: /en/version/data
  api: true
  api_description: "English locale version"
  api_info: "Returns (JSON): SHA256 hash (string)."
  assert_json: true
  language: en
  method: GET|POST
  presenter: core

GetCsDataVersion:
  path: /cs/version/data
  api: true
  api_description: "Czech locale version"
  api_info: "Returns (JSON): SHA256 hash (string)."
  assert_json: true
  language: cs
  method: GET|POST
  presenter: core

GetError:
  path: '/err/[i:code]'
  api: true
  api_description: "Error page"
  api_info: "Parameters:\n<b><code></b> - numeric error code\n\nReturns: HTML page."
  cached: true
  method: GET|POST
  presenter: error
  api_example: [
    "err/404"
    "err/500"
  ]
