# @author Fred Brooker <git@gscloud.cz>

defaults:
  language: cs
  home: redir # routing failure

home:
  path: /
  country: [
    default: '/en'
    localhost: '/cs'
    CZ: '/cs'
    SK: '/sk'
    DE: '/de'
    XX: '/en'
  ]
  assert_httpcode: 303

en:
  path: /en
  sitemap: true
  language: en

shortcodes:
  path: /shortcodes
  sitemap: true
  language: en

cs:
  path: /cs
  sitemap: true

sk:
  path: /sk
  sitemap: true
  language: sk

de:
  path: /de
  sitemap: true
  language: de

# routing failure
redir:
  redirect: /
