# @author Fred Brooker <git@gscloud.cz>
# core routes, mandatory - see CorePresenter.php

GetWebManifest:
  path: /manifest.json
  api: true
  api_description: "Progressive Web App (PWA) manifest."
  api_info: "Returns (JSON): configuration file."
  cached: true
  presenter: core

GetTXTSitemap:
  path: /sitemap.txt
  api: true
  api_description: "Crawler sitemap in TEXT format."
  api_info: "Returns (TEXT): simple text file."
  cached: true
  presenter: core

GetXMLSitemap:
  path: /sitemap.xml
  api: true
  api_description: "Crawler sitemap in XML format."
  api_info: "Returns (XML): XML markup."
  cached: true
  presenter: core

GetRSSXML:
  path: /rss.xml
  api: true
  api_description: "RSS export demonstration for future applications."
  api_info: "Returns (XML): XML markup."
  cached: true
  presenter: core

GetServiceWorker:
  path: /sw.js
  api: true
  api_description: "Service worker."
  api_info: "Returns (JavaScript): SW code."
  cached: true
  presenter: core

GetCoreVersion:
  path: /version/core
  api: true
  api_description: "Get core version"
  api_info: "Returns (JSON): SHA256 hash (string), number of git revisions (integer), modification timestamp (integer), modification date (D. M. YYYY)."
  assert_json: true
  method: GET|POST
  presenter: core

GetCsDataVersion:
  path: /cs/version/data
  api: true
  api_description: "Get Czech locale version"
  api_info: "Returns (JSON): SHA256 hash (string)."
  assert_json: true
  language: cs
  method: GET|POST
  presenter: core

GetEnDataVersion:
  path: /en/version/data
  api: true
  api_description: "Get English locale version"
  api_info: "Returns (JSON): SHA256 hash (string)."
  assert_json: true
  language: en
  method: GET|POST
  presenter: core

GetError:
  path: '/err/[i:code]'
  api: true
  api_description: "Get error page"
  api_info: "Parameters:\n<b><code></b> - numeric error code\n\nReturns: HTML page."
  cached: true
  method: GET|POST
  presenter: error
  api_example: [
    "err/403"
    "err/404"
    "err/420"
    "err/500"
  ]
