# @author Fred Brooker <git@gscloud.cz>
# API routes

API1:
  path: /api
  api: true
  api_description: "REST API dashboard"
  api_info: "This page 🐱"
  presenter: core

API2:
  path: /api/v1
  alias: API1
