# @author Fred Brooker <git@gscloud.cz>
# admin routes

admin:
  method: GET|POST|DELETE
  path: '/admin/[a:p]'
  presenter: admin

login:
  path: /login
  presenter: login
  no_testing: true

logout:
  path: /logout
  presenter: logout
  no_testing: true
