{{#admin_group_admin}}

<style>
.hearts::after{content:'🤕';animation-name: hearts;animation-duration:1s}
.emojianim::after{animation-timing-function: linear;animation-iteration-count: infinite}
@keyframes hearts{10%{content:'😩'}20%{content:'😫'}30%{content:'😪'}40%{content:'😴'}50%{content:'😵'}60%{content:'😦'}70%{content:'😢'}80%{content:'😭'}90%{content:'🤒'}}
.a_reset{font-family:Arial!important;font-size:14px!important}
.a_h2{font-size:5em!important;font-weight:700!important}
.a_h3{font-size:4em!important;font-weight:700!important}
.a_h4{font-size:3em!important;font-weight:700!important}
.a_h5{font-size:2em!important;font-weight:700!important}
.alzaborder{border:2px solid green;border-radius:5px}
.nowrap{white-space:nowrap}
.row{margin-bottom:6px}
.spacer{margin:3px}
.protect{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;width:10em}
#admin_main{font-family:Arial!important;font-size:14px!important}
#a_rotate_device{display:none}
[touch="true"] #a_rotate_device{display:block}
#emojis{cursor:crosshair}
</style>

<div id="admin_main" class="row center black white-text" style="display:none;margin:0!important">
  <div id="a_rotate_device" class="row center" style="padding-top:3px">
    {{ l.a_rotate_device }}
  </div>
  <div class="row center black hide-on-small-only" style="padding-top:1em">
    <a style="margin:2px;" class="tooltipped waves-effect blue waves-light btn" target="_blank" rel="noopener"
      data-position="top" data-tooltip="{{ l.a_google_account_ttip }}" href="https://myaccount.google.com/dashboard">
      <i class="fab fa-google"></i>
      {{ l.a_google_account }}</a>

    <a style="margin:2px;" class="tooltipped waves-effect cyan waves-light btn" target="_blank" rel="noopener"
      data-position="top" data-tooltip="{{ l.a_google_password_ttip }}" href="https://passwords.google.com">
      <i class="fab fa-google"></i>
      {{ l.a_google_password }}</a>

    <a style="margin:2px;" class="tooltipped waves-effect teal waves-light btn" target="_blank" rel="noopener"
      data-position="top" data-tooltip="{{ l.a_google_search_ttip }}"
      href="https://search.google.com/search-console?resource_id={{ canonical_url }}">
      <i class="fab fa-google"></i>
      {{ l.a_google_search }}</a>

    <a style="margin:2px;" class="tooltipped waves-effect purple waves-light btn" target="_blank" rel="noopener"
      data-position="top" data-tooltip="{{ l.a_google_analytics_ttip }}"
      href="{{#google.analytics}}{{ google.analytics }}{{/google.analytics}}{{^google.analytics}}https://analytics.google.com/analytics/web/{{/google.analytics}}">
      <i class="fab fa-google"></i>
      {{ l.a_google_analytics }}</a>

    <a style="margin:2px;" class="tooltipped waves-effect magenta waves-light btn" target="_blank" rel="noopener"
      data-position="top" data-tooltip="{{ l.a_onesignal_ttip }}" href="https://onesignal.com">
      <i class="fas fa-bell"></i>
      {{ l.a_onesignal }}</a>

    <a style="margin:2px;" class="tooltipped waves-effect red waves-light btn" data-position="top"
      data-tooltip="{{ l.a_google_logout_ttip }}" href="https://www.google.com/accounts/Logout">
      <i class="fab fa-google"></i>
      {{ l.a_google_logout }}</a>
  </div>
  <div class="row center" style="overflow:hidden">
    <div class="col l4 m6 s12">
      <div class="spacer">
        <div class="row center alzaborder">
          <h5>{{ l.a_locales }}&nbsp;<span id="csv_ping" class="mono">&nbsp;</span></h5>
          <p id="a_update_info"></p>
          <div class="col s12 white">
            <label>{{ l.a_sites }}</label>
            <select id="SiteSelect">
              <option value="" disabled selected>...</option>
              {{#multisite_names}}
              <option value="{{.}}">{{.}}</option>
              {{/multisite_names}}
            </select>
          </div>
          <div id="domains" class="container"></div>
          <a id="a_emoji" style="margin:5px;display:none" class="waves-effect blue waves btn hearts emojianim"></a>
          <a id="a_summernote" style="margin:5px;" class="tooltipped waves-effect orange waves-light btn"
            data-position="top" data-tooltip="{{ l.a_summernote_ttip }}">
            <i class="fas fa-edit"></i>
            {{ l.a_summernote }}</a>&nbsp;<span id="summer_ping" class="mono">&nbsp;</span>
        </div>
      </div>
      <div class="spacer">
        <div class="row center alzaborder">
          <h5>{{ l.a_cache }}</h5>
          <div class="container">
            <span class="nowrap">default: {{ cache_profiles.default }}</span>
            &nbsp;&nbsp;
            <span class="nowrap">CSV: {{ cache_profiles.csv }}</span>
            &nbsp;&nbsp;
            <span class="nowrap">{{ l.a_limiter }}: {{ CONST.LIMITER_MAXIMUM }}x / {{ cache_profiles.limiter }}</span>
            &nbsp;&nbsp;
            <span class="nowrap">{{ l.a_webpage }}: {{ cache_profiles.page }}</span>
          </div>
          <div class="row center">
            <a id="a_update" style="margin:5px;" class="tooltipped waves-effect red waves-light btn"
              data-position="top" data-tooltip="{{ l.a_update_ttip }}">
              <i class="fab fa-google-drive"></i>
              {{ l.a_update }}</a>
            <a id="a_flush" style="margin:5px;" class="tooltipped waves-effect red waves-light btn"
              data-position="top" data-tooltip="{{ l.a_flush_ttip }}">
              <i class="fas fa-cloud-sun"></i>
              {{ l.a_flush }}</a>
          </div>
        </div>
        <div class="spacer">
          <div class="row center white hide-on-small-only">
            <div class="col s12">
              <label>{{ l.a_remotefns }}</label>
              <select id="RemoteFnSelect">
                <option value="" disabled selected>...</option>
                <option value="CoreUpdateRemote">Core Update</option>
                <option value="FlushCacheRemote">Flush Cache</option>
              </select>
            </div>
            <input id="a_security_token" class="black-text" style="font-size:11px;width:90%;border:0" type="text"
              readonly value="N/A">
            <div class="row center">
              <a id="a_get_token" class="tooltipped waves-effect green waves-light btn" data-position="top"
                data-tooltip="{{ l.a_update_remote_ttip }}">{{
              l.a_get_token }}</a>
              <a id="a_token_cc" class="tooltipped waves-effect green waves-light btn" data-position="top"
                data-tooltip="{{ l.a_clipboard_ttip }}">
                <i class="fas fa-clipboard"></i></a>&nbsp;<span id="sectok_ping" class="mono">&nbsp;</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col l4 m6 s12">
      <div class="spacer">
        <div class="row center alzaborder">
          <div class="white-text">
            <h5>{{ l.a_groups_permissions }}</h5>
            <div class="row center">
              <a id="a_logout" class="tooltipped waves-effect green waves-light btn" data-position="top"
                data-tooltip="{{ l.a_logout_ttip }}">
                <i class="fas fa-sign-out-alt"></i>
                {{ l.a_logout }}</a>
            </div>
            <div class="row center hide-on-small-only">
              <strong>OWNER / ADMIN</strong>
              <div class="container">
                <p class="orange-text">
                  {{#admin_groups.admin}}{{ . }} {{/admin_groups.admin}}
                  {{^admin_groups.admin}}<i class="red-text fas fa-times"></i>{{/admin_groups.admin}}
                </p>
              </div>
              <strong>DEFAULT</strong>
              <div class="container">
                <p class="orange-text">
                  {{#admin_groups.default}}{{ . }} {{/admin_groups.default}}
                  {{^admin_groups.default}}<i class="red-text fas fa-times"></i>{{/admin_groups.default}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer">
        <div class="row center alzaborder hide-on-small-only">
          <div class="white-text">
            <h5>{{ l.a_google }}</h5>
            <ul class="mono">
              <li>Project: {{ gcp_project_id }}
                {{^gcp_project_id}}<i class="red-text fas fa-times"></i>{{/gcp_project_id}}</li>
              <li>Google Maps query: {{ google.map_query }}
                {{^google.map_query}}<i class="red-text fas fa-times"></i>{{/google.map_query}}</li>
              <li>Google Analytics: {{ google.ua }}
                {{^google.ua}}<i class="red-text fas fa-times"></i>{{/google.ua}}</li>
              <br>
              <li>Google Maps API key:<br><span title="{{ google.mapsapi_key }}"
                  class="protect">{{ google.mapsapi_key }}</span>
                {{^google.mapsapi_key}}<i class="red-text fas fa-times"></i>{{/google.mapsapi_key}}</li>
              <li>PageSpeed Insights API key:<br><span title="{{ google.pagespeedinsights_key }}" class="protect">{{
            google.pagespeedinsights_key }}</span>
                {{^google.pagespeedinsights_key}}<i class="red-text fas fa-times"></i>{{/google.pagespeedinsights_key}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col l4 m6 hide-on-small-only">
      <div class="spacer">
        <div class="row center alzaborder">
          <h5>{{ l.a_optimizations }}&nbsp;<span id="psi_ping" class="mono">&nbsp;</span></h5>
          <p id="a_ps_insights_info"></p>
          <div id="psi_row" class="row center">
            <a id="a_ps_insights" class="tooltipped waves-effect orange waves-light btn" data-position="top"
              data-tooltip="{{ l.a_ps_insights_ttip }}">
              <i class="fab fa-google"></i>
              {{ l.a_ps_insights }}</a>
          </div>
        </div>
      </div>
      <div class="spacer">
        <div class="row center alzaborder">
          <h4 class="center">
            <a rel="noopener" target="_blank" class="tooltipped blue-text text" data-position="top"
              data-tooltip="{{ l.a_github_ttip }}" href="https://github.com/gscloud"><i class="fab fa-git"></i></a>
            <a rel="noopener" target="_blank" class="tooltipped lime-text text" data-position="top"
              data-tooltip="{{ l.a_sysinfo_ttip }}" href="https://sys.gscloud.cz/index.php?disp=bootstrap"><i
                class="fas fa-server"></i></a>
            {{#l.a_lasagna_manual_disable}}
            <a rel="noopener" target="_blank" class="tooltipped grey-text text" data-position="top"
              data-tooltip="{{ l.a_lasagna_manual_ttip }} &mdash; {{ l.a_notavailable_ttip }}"><i
                class="fas fa-dna"></i></a>
            {{/l.a_lasagna_manual_disable}}
            {{^l.a_lasagna_manual_disable}}
            <a rel="noopener" target="_blank" class="tooltipped purple-text text" data-position="top"
              data-tooltip="{{ l.a_lasagna_manual_ttip }}" href="{{ l.a_lasagna_manual_url }}"><i
                class="fas fa-dna"></i></a>
            {{/l.a_lasagna_manual_disable}}
            <a rel="noopener" target="_blank" class="tooltipped white-text text" data-position="top"
              data-tooltip="{{ l.a_locale_template_ttip }}" href="{{ l.a_locale_template_url }}"><i
                class="fas fa-clone"></i></a>
            {{#google_drive_backupxxx}}
            <a rel="noopener" target="_blank" class="tooltipped green-text text" data-position="top"
              data-tooltip="{{ l.a_google_backup_ttip }}" href="{{ google_drive_backup }}"><i
                class="fas fa-warehouse"></i></a>
            {{/google_drive_backupxxx}}
          </h4>
        </div>
      </div>
      <div class="spacer">
        <div class="row center alzaborder">
          <h5>{{ l.a_changes }}</h5>
          <div class="row grey-text" style="margin-top:1em">
            <div class="grey-text left-align container">
              {{#convert_hyperlinks}}{{ l.a_changelog }}{{/convert_hyperlinks}}
            </div>
            {{^l.onesignal_appid}}
            <div class="row center red-text" style="margin-top:1em">
              <div class="container">
              {{#convert_hyperlinks}}{{ l.a_onesignal_missing }}{{/convert_hyperlinks}}
              </div>
            </div>
            {{/l.onesignal_appid}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="emojis" class="row center" style="display:none">{{>emoji}}</div>
</div>

<script>
// polyfills
Array.prototype.includes||Object.defineProperty(Array.prototype,"includes",{value:function(f,g){if(null==this)throw new TypeError('"this" is null or not defined');var e=Object(this),b=e.length>>>0;if(0===b)return!1;var a=g|0;for(a=Math.max(0<=a?a:b-Math.abs(a),0);a<b;){var c=e[a],d=f;if(c===d||"number"===typeof c&&"number"===typeof d&&isNaN(c)&&isNaN(d))return!0;a++}return!1}});
String.prototype.trim||(String.prototype.trim=function(){return this.replace(/^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g,"")});

  (function (w, d, undefined) {
    d.getElementById("admin_main").style.display = "block";
    if (w.GSC.init) {

      // data
      GSC.data = {};
      GSC.data.multisite_profiles = {{ multisite_profiles_json }};

      // loader
      if (!w.GSC.ShowLoader) w.GSC.ShowLoader = function (t) {
        if (!t) return;
        $(t).html(
          '<div class="preloader-wrapper small active"><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class=circle></div></div><div class=gap-patch><div class=circle></div></div><div class="circle-clipper right"><div class=circle></div></div></div></div>'
        );
      }

      // ping dot
      if (!w.GSC.PingDot) w.GSC.PingDot = function (dot, status = true) {
        if (status) status = "green";
          else status = "red";
        $(dot).html("&#8226;").css({
          color: status,
          opacity: 1
        }).fadeTo("slow", 0);
      }

      // GetCsvInfo()
      if (!w.GSC.GetCsvInfo) w.GSC.GetCsvInfo = function () {
        var t = "#a_update_info";
        if (w.GSC.offline) {
          GSC.PingDot("#csv_ping", false);
          return;
        }
        $.get("/admin/GetCsvInfo?" + Date.now(), function (data) {
            GSC.PingDot("#csv_ping");
            var content = "";
            var now = ~~(Date.now() / 1000);
            for (x in data.data) {
              var link = x;
              var sheet = data.data[x]["sheet"];
              var csv = data.data[x]["csv"];
              var lines = data.data[x]["lines"];
              if (sheet) {
                link =
                  '<a rel=noopener target=_blank title="{{ l.a_edit_gsheet_ttip }}" class="green mono white-text bold" href="' +
                  'https://docs.google.com/spreadsheets/d/' +
                  sheet + '/edit#gid=0">&nbsp;<i class="material-icons white-text tiny">edit</i>' +
                  x + '&nbsp;</a>&nbsp;&nbsp;&nbsp;<a rel=noopener target=_blank title="{{ l.a_download_csv_ttip }}"' +
                  ' class="bold blue white-text mono" ' +
                  'href="https://docs.google.com/spreadsheets/d/e/' +
                  csv + '/pub?output=csv">&nbsp;<i class="fas white-text fa-cloud-download-alt"></i>' +
                  lines + '&nbsp;</a>&nbsp;';
              }
              moment.locale("{{ lang }}");
              content += (link + " {{ l.a_age }}&nbsp;" +
                moment.duration(Math.abs(~~((now - data.data[x]["timestamp"]))), "seconds").humanize() +
                "<br>"
              );
            }
            $(t).html(content);
          })
          .fail(function () {
            GSC.PingDot("#csv_ping", false);
            $(t).html('<i class="material-icons large">mood_bad</i>');
          });
      } // end GetCsvInfo()

      // GetPSInsights()
      if (!w.GSC.GetPSInsights) w.GSC.GetPSInsights = function () {
        var t = "#a_ps_insights_info";
        if (w.GSC.offline) {
          GSC.PingDot("#psi_ping", false);
          return;
        }
        GSC.ShowLoader(t);
        $.get("/admin/GetPSInsights?" + Date.now(), function (data) {
            GSC.PingDot("#psi_ping");
            $("#psi_row").hide();
            $(t).html("<h2 class='orange-text a_reset a_h2'>" + data.data.ruleGroups.SPEED.score +
              "&nbsp;%</h2>");
            $(t).append("numberResources:&nbsp;<span class=bold>" +
              data.data.pageStats.numberResources + "</span> ");
            $(t).append("numberStaticResources:&nbsp;<span class=bold>" +
              data.data.pageStats.numberStaticResources + "</span> ");
            $(t).append("numberJsResources:&nbsp;<span class=bold>" +
              data.data.pageStats.numberJsResources + "</span> ");
            $(t).append("numberCssResources:&nbsp;<span class=bold>" +
              data.data.pageStats.numberCssResources + "</span> ");
            $(t).append("<br>");
            $(t).append("htmlResponseBytes:&nbsp;<span class=bold>" +
              GSC.FormatBytes(data.data.pageStats.htmlResponseBytes) + "</span> ");
            $(t).append("cssResponseBytes:&nbsp;<span class=bold>" +
              GSC.FormatBytes(data.data.pageStats.cssResponseBytes) + "</span> ");
            $(t).append("imageResponseBytes:&nbsp;<span class=bold>" +
              GSC.FormatBytes(data.data.pageStats.imageResponseBytes) + "</span> ");
            $(t).append("<br>");
            $(t).append("numTotalRoundTrips:&nbsp;<span class=bold>" +
              data.data.pageStats.numTotalRoundTrips + "</span> ");
            $(t).append("numRenderBlockingRoundTrips:&nbsp;<span class=bold>" +
              data.data.pageStats.numRenderBlockingRoundTrips + "</span> ");
            $(t).slideDown();
            $("#a_ps_insights").removeAttr("disabled");
          })
          .fail(function () {
            GSC.PingDot("#psi_ping", false);
            $(t).html('<i class="material-icons large">mood_bad</i>').slideDown();
            $("#a_ps_insights").removeAttr("disabled");
          });
      } // end GetPSInsights()

      // PageSpeed Insights
      w.GSC.init.push(function () {
        w.GSC.names.push("PSI click");
        $("#a_ps_insights").click(function () {
          if (w.GSC.offline) {
            GSC.PingDot("#psi_ping", false);
            return;
          }
          $(this).attr("disabled", "disabled");
          GSC.PingDot("#psi_ping");
          GSC.GetPSInsights();
        });
      });

      // admin UI
      w.GSC.init.push(function () {
        w.GSC.names.push("admin panel UI");

        var profiles = [];
        var params = new window.URLSearchParams(window.location.search);
        var profile = params.get("profile");
        for (var i in GSC.data.multisite_profiles) profiles.push(i);
        if (!profiles.includes(profile)) {
          profile = getCookie("profile");
          if (!profiles.includes(profile)) {
            profile = "default";
          }
        }
        $("#SiteSelect option[value=" + profile + "]").attr("selected", "selected");
        $("#SiteSelect").formSelect();
        $("#domains").html(GSC.data.multisite_profiles[profile].join(" "));

        $("#SiteSelect").change(function () {
          if (!$("#SiteSelect").val()) return;
          var s = $("#SiteSelect").val().trim();
          setCookie("profile", s);
          window.location.href = "?profile=" + s;
        });

        $("#RemoteFnSelect").change(function () {
          if (!$("#RemoteFnSelect").val()) return;
          var s = $("#RemoteFnSelect").val();
          var t = $("#a_security_token").val();
          t = t.replace(/[a-zA-Z]*\?/, s + "?");
          $("#a_security_token").val(t);
        });

        $("#a_update").click(function () {
          if (w.GSC.offline) {
            GSC.PingDot("#csv_ping", false);
            return;
          }
          $("#a_update").attr("disabled", "disabled");
          GSC.ShowLoader("#a_update_info");
          setTimeout('$("#a_update").removeAttr("disabled");', 20E3);
          $.post("/admin/CoreUpdate");
        });

        $("#a_summernote").click(function () {
          GSC.DeploySummernote();
        });

        $("#a_emoji").click(function () {
          if (!GSC.emojicc) {
            var splitter = new GraphemeSplitter();
            var graphemes = splitter.splitGraphemes($("#emojis").text());
            var arr = graphemes.map(function (x) {
              return '<span class="ccemoji">' + x + '</span>';
            });
            $("#emojis").html(arr.join(''));
            $(".ccemoji").click(function () {
              var x = $(this).text();
              GSC.CopyClipboard(x);
              M.toast({html: x});
            });
            GSC.emojicc = true;
          }
          $("#emojis").toggle("fast");
        });

        $("#a_flush").click(function () {
          if (w.GSC.offline) {
            GSC.PingDot("#csv_ping", false);
            return;
          }
          GSC.GetCsvInfo = function () {};
          $("#a_flush").attr("disabled", "disabled");
          location.href = "/admin/FlushCache";
        });

        $("#a_token_cc").click(function () {
          GSC.CopyClipboard($("#a_security_token").val());
          GSC.PingDot("#sectok_ping");
          if (GSC.touch) M.toast({html: "💕"});
        });

        $("#a_get_token").click(function () {
          if (w.GSC.offline) {
            GSC.PingDot("#sectok_ping", false);
            return;
          }
          if (!$("#RemoteFnSelect").val()) return;
          $.get("/admin/GetUpdateToken?" + Date.now(), function (data) {
            $("#a_security_token").val(data.data);
            $("#RemoteFnSelect").change();
            GSC.PingDot("#sectok_ping");
          }).fail(function () {
            $("#a_security_token").val("N/A");
            GSC.PingDot("#sectok_ping", false);
          });
        });

        $("#a_logout").click(function () {
          if (w.GSC.offline) return;
          window.location.replace("/logout");
        });

      });

      // CSV timer
      w.GSC.init.push(function () {
        w.GSC.names.push("CSV load timer");
        GSC.ShowLoader("#a_update_info");
        setInterval("GSC.GetCsvInfo()", 3000);
      });

      // PSI preload
      w.GSC.init.push(function () {
        w.GSC.names.push("PSI preload");
        setTimeout("$.get('/admin/GetPSInsights?" + Date.now() + "');", 4000);
      });

      // admin UI reset
      w.GSC.init.push(function () {
        w.GSC.names.push("admin UI");
        $("#admin_main div").addClass("a_reset");
        $("#admin_main h1").addClass("a_reset a_h1");
        $("#admin_main h2").addClass("a_reset a_h2");
        $("#admin_main h3").addClass("a_reset a_h3");
        $("#admin_main h4").addClass("a_reset a_h4");
        $("#admin_main h5").addClass("a_reset a_h5");
        $("#admin_main p").addClass("a_reset");
        if (w.GSC.touch) {
          $(".tooltipped").tooltip("destroy");
          $('#emojis').remove();
          $('#a_emoji').remove();
        } else {
          $('#a_emoji').show();
        }
      });

      // Summernote WYSIWYG
      w.GSC.init.push(function () {
        w.GSC.names.push("Summernote editor");

        if (!w.GSC.DeploySummernote) w.GSC.DeploySummernote = function () {
          $("#a_summernote").text("{{ l.a_save_all }}");
          $("#a_summernote").unbind("click");
          $("#a_summernote").click(function () {
            if (w.GSC.offline) {
              GSC.PingDot("#summer_ping", false);
              return;
            }
            var id;
            var data = {};
            $(".summernote").each(function (i, obj) {
              if (id = $(obj).attr("id")) data[id] = $(obj).summernote("code");
              $(obj).summernote("destroy");
              GSC.PingDot("#summer_ping");
            });
            console.log(data);
            $("#a_summernote").html('<i class="fas fa-edit"></i>{{ l.a_summernote }}');
            $("#a_summernote").unbind("click");
            $("#a_summernote").click(function () {
              GSC.DeploySummernote();
            });
          });

          $(".summernote").summernote({
            lang: {{#langcs}}'cs-CZ'{{/langcs}}{{#langen}}'en-US'{{/langen}},
            codeviewFilter: true,
            codeviewIframeFilter: true,
            dialogsInBody: false,
            disableDragAndDrop: true,
            height: 150,
            toolbar: [
              ['do', ['undo', 'redo']],
              ['style', ['style']],
              ['font', ['bold', 'underline', 'clear', 'superscript', 'subscript']],
              ['fontname', ['fontname']],
              ['color', ['color']],
              ['para', ['ul', 'ol', 'paragraph', 'height']],
              ['table', ['table']],
              ['insert', ['link', 'picture', 'video']],
              ['view', ['fullscreen', 'codeview']],
            ]
          });
        }

      });
    }
  })(window, document);

</script>

{{>admin_custom}}

<script src="{{ cdn }}/js/moment.min.js" defer></script>
<script src="{{ cdn }}/js/grapheme.min.js" defer></script>
<script src="{{ cdn }}/summernote/summernote-lite.js" defer></script>
<link href="{{ cdn }}/summernote/summernote-lite.css" rel="stylesheet">
{{#langcs}}<script src="{{ cdn }}/summernote/lang/summernote-cs-CZ.min.js" defer></script>{{/langcs}}

{{/admin_group_admin}}
