{{#admin_group_admin}}

<script>
  (function (w) {
    if (w.GSC.init) {

      delCookie("admin_panel");
      w.GSC.SemaphoreAdminPanelOn = true;

    }
  })(window);

</script>

{{/admin_group_admin}}
