{{#admin_group_admin}}

<style>
/* PHP CHARS */
.php1{position:relative;left:+0.1em;text-transform:lowercase!important}
.php2{position:relative;left:+0.0em;text-transform:lowercase!important}
.php3{position:relative;left:-0.1em;text-transform:lowercase!important}

/* EMOJIS */
.faces::after{font-family:monospace,monospace;content:"🌸";animation-name:faces;animation-duration:1s}
.emojianim::after{animation-timing-function:linear;animation-iteration-count:infinite}
@keyframes faces{10%{content:"🌼"}20%{content:"🌳"}30%{content:"🌺"}40%{content:"🌵"}50%{content:"🌶"}60%{content:"🍇"}70%{content:"🍄"}80%{content:"🍓"}90%{content:"🌽"}}
.bigemoji{font-size:5em}

/* ADMIN PANEL */
.hover {cursor:pointer}
.a_reset{font-family:Arial!important;font-size:14px!important}.a_h2{font-size:5em!important;font-weight:700!important}.a_h4{font-size:3em!important;font-weight:700!important}.a_h5{font-size:2em!important;font-weight:700!important}
#admin_main {font-family:Arial!important;padding-top:5px;font-size:14px!important}
#admin_main .row{margin-bottom:5px}
#admin_main h2,#admin_main h3,#admin_main h4,#admin_main h5,#admin_main h6{font-family:Arial!important;text-transform:uppercase}
.dragover{border:4px dashed blue!important}
.extrapadding{padding:5px;border-radius:5px}
.nowrap{white-space:nowrap}
.protect{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;width:10em;line-height:12px}
.fileitem{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;width:100%;color:#dfd!important;background-color:#131!important;padding:2px}
.btnmargin{margin:2px;margin-bottom:5px}

/* ROTATION & TOUCH */
#a_rotate_device{display:none}
[touch="true"] #a_rotate_device{display:block}
#emojis{cursor:crosshair}

/* SUMMERNOTE */
.summernote{border:2px dashed #ccc;padding:1rem!important}
.summernote::before{content:"📝";position:relative;top:-3rem;left:-1rem}
.panel-heading.note-toolbar .note-font .dropdown-menu,.panel-heading.note-toolbar .note-style .dropdown-menu{min-width:245px;padding:5px}
.panel-heading.note-toolbar .note-font .dropdown-menu>div:first-child,.panel-heading.note-toolbar .note-style .dropdown-menu>div:first-child{margin-right:5px}
.note-add-text-tags-btn{font-family:"Times New Roman",serif;min-width:30px}
div.checkbox.sn-checkbox-open-in-new-window>label>input[type=checkbox]{opacity:1!important;position:relative!important;margin:5px!important}
div.checkbox.sn-checkbox-use-protocol>label>input[type=checkbox]{opacity:1!important;position:relative!important;margin:5px!important}
</style>

<!-- MOTÝLE -->
<span style="position:fixed;left:0;top:0;z-index:999999" class="motyle btn white hide-on-med-and-down">🦋</span>
<span style="position:fixed;right:0;top:0;z-index:999999" class="motyle btn white hide-on-large-only">🦋</span>

<div id="admin_main" class="row center black white-text" style="display:none;margin:0!important">

  <!-- DEVICE ROTATION INFO -->
  <div id="a_rotate_device" class="row center" style="padding-top:3px">
    {{ l.a_rotate_device }}
  </div>

  {{>admin_custom}}

  <!-- EXTERNAL SERVICES -->
  <div class="row center black hide-on-small-only">
    <div class="extrapadding hide-on-small-only" style="padding-top:3px">
      <a style="margin:2px;" class="tooltipped waves-effect teal waves-light btn" target="_blank" rel="noopener"
        data-position="top" data-tooltip="{{ l.a_google_account_ttip }}" href="https://myaccount.google.com/dashboard">
        <i class="fab fa-google"></i>
        {{ l.a_google_account }}</a>
      <a style="margin:2px;" class="tooltipped waves-effect teal waves-light btn" target="_blank" rel="noopener"
        data-position="top" data-tooltip="{{ l.a_google_password_ttip }}" href="https://passwords.google.com">
        <i class="fab fa-google"></i>
        {{ l.a_google_password }}</a>
      <a style="margin:2px;" class="tooltipped waves-effect teal waves-light btn" target="_blank" rel="noopener"
        data-position="top" data-tooltip="{{ l.a_google_search_ttip }}"
        href="https://search.google.com/search-console?resource_id={{ canonical_url }}">
        <i class="fab fa-google"></i>
        {{ l.a_google_search }}</a>
      <a style="margin:2px;" class="tooltipped waves-effect teal waves-light btn" target="_blank" rel="noopener"
        data-position="top" data-tooltip="{{ l.a_google_analytics_ttip }}"
        href="{{#google.analytics}}{{ google.analytics }}{{/google.analytics}}{{^google.analytics}}https://analytics.google.com/analytics/web/{{/google.analytics}}">
        <i class="fab fa-google"></i>
        {{ l.a_google_analytics }}</a>
      <a style="margin:2px;" class="tooltipped waves-effect lime waves-light btn" target="_blank" rel="noopener"
        data-position="top" data-tooltip="{{ l.a_onesignal_ttip }}" href="https://app.onesignal.com/login">
        <i class="fas fa-bell"></i>
        {{ l.a_onesignal }}</a>
    </div>
  </div>

  <!-- EXTERNAL LINKS -->
  <div class="row center black">
    {{#external_links}}
      <a rel="noreferrer noopener" target="_blank" class="tooltipped green white-text" style="padding:4px"
        data-position="top" data-tooltip="{{ title }}" href="{{ link }}"><b>&nbsp;{{ name }}&nbsp;</b></a>&nbsp;&nbsp;
    {{/external_links}}
  </div>

  <!-- ADMIN GRID -->
  <div class="row grid" style="overflow:hidden" style="padding-top:3px">

    <!-- DATA -->
    <div class="col l4 m6 s12">
      <div class="row center extrapadding">
        <h5>{{ l.a_locales }}&nbsp;<span id="csv_ping" class="mono">&nbsp;</span></h5>
        <p id="a_update_info"></p>
        <p>
          PHP ver. <b>{{ PHP_VERSION }}</b><br>
          App ver. <b>{{ VERSION_SHORT }}</b> / <b>{{ VERSION_DATE }}</b> / rev. <b>{{ REVISIONS }}</b><br>
        </p>
        <div class="col s12 white">
          <label>{{ l.a_sites }}</label>
          <select id="SiteSelect">
            <option value="" disabled selected>&hellip;</option>
            {{#multisite_names}}
            <option value="{{.}}">{{.}}</option>
            {{/multisite_names}}
          </select>
        </div>

        <div id="domains" style="font-size:12px!important;color:#888!important" class="container"></div>

        <a id="a_emoji" 
          data-position="top" data-tooltip="{{ l.a_emojis_ttip }}" 
          style="margin:5px" class="tooltipped waves-effect grey waves btn faces emojianim"></a>
        <a id="a_files"
          data-position="top" data-tooltip="{{ l.a_files_ttip }}"
          style="margin:5px" class="tooltipped waves-effect blue waves btn"><i class="fas fa-folder"></i></a>
        <a id="a_upload"
          data-position="top" data-tooltip="{{ l.a_upload_ttip }}"
          style="margin:5px" class="tooltipped waves-effect blue waves btn"><i class="fas fa-upload"></i></a>
        <a id="a_summernote"
          data-position="top" data-tooltip="{{ l.a_summernote_ttip }}"
          style="margin:5px" class="tooltipped waves-effect green waves-light btn">
          <i class="fas fa-edit"></i>&nbsp;{{ l.a_summernote }}</a>
        <a id="a_article"
          data-position="top" data-tooltip="{{ l.a_article_ttip }}"
          style="margin:5px" class="tooltipped waves-effect green waves-light btn">
          <i class="fas fa-plus-square"></i>&nbsp;URL</a>&nbsp;<span id="summer_ping" class="mono">&nbsp;</span>

        <div class="col s12 white">
          <label>URL</label>
          <select id="UrlSelect">
            <option value="" disabled selected>&hellip;</option>
          </select>
        </div>

        <div class="container">
          {{#request_path_slug}}
          {{#GET.profile}}
          <a target=_blank
            href="{{ BASE }}{{ lang }}/exportHTML/{{ GET.profile }}{{ request_path_slug }}">🌍 exportHTML</a>
          &nbsp;
          <span title="📋 {{ l.a_copy_tit }}" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy="{{ BASE }}{{ lang }}/exportHTML/{{ GET.profile }}{{ request_path_slug }}">📋</span>
          &nbsp;
          <span title="📋 Remote Content for WordPress" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy='[remote_content url="{{ BASE }}{{ lang }}/exportHTML/{{ GET.profile }}{{ request_path_slug }}"]'>RCWP📋</span>&nbsp;&nbsp;
          {{/GET.profile}}

          {{^GET.profile}}
          <a target=_blank
            href="{{ BASE }}{{ lang }}/exportHTML/default{{ request_path_slug }}">🌍 exportHTML</a>
          &nbsp;
          <span title="📋 {{ l.a_copy_tit }}" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy="{{ BASE }}{{ lang }}/exportHTML/default{{ request_path_slug }}">📋</span>
          &nbsp;
          <span title="📋 Remote Content for WordPress" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy='[remote_content url="{{ BASE }}{{ lang }}/exportHTML/default{{ request_path_slug }}"]'>RCWP📋</span>&nbsp;&nbsp;
          {{/GET.profile}}
          {{/request_path_slug}}

          {{^request_path_slug}}
          {{#GET.profile}}
          <a target=_blank
            href="{{ BASE }}{{ lang }}/exportHTML/{{ GET.profile }}/!">🌍 exportHTML</a>
          &nbsp;
          <span title="📋 {{ l.a_copy_tit }}" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy="{{ BASE }}{{ lang }}/exportHTML/{{ GET.profile }}/!">📋</span>
          &nbsp;
          <span title="📋 Remote Content for WordPress" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy='[remote_content url="{{ BASE }}{{ lang }}/exportHTML/{{ GET.profile }}/!"]'>RCWP📋</span>&nbsp;&nbsp;
          {{/GET.profile}}

          {{^GET.profile}}
          <a target=_blank
            href="{{ BASE }}{{ lang }}/exportHTML/default/!">🌍 exportHTML</a>
          &nbsp;
          <span title="📋 {{ l.a_copy_tit }}" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy="{{ BASE }}{{ lang }}/exportHTML/default/!">📋</span>
          &nbsp;
          <span title="📋 Remote Content for WordPress" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy='[remote_content url="{{ BASE }}{{ lang }}/exportHTML/default/!"]'>RCWP📋</span>&nbsp;&nbsp;
          {{/GET.profile}}
          {{/request_path_slug}}
        </div>

      </div>
    </div>

    <!-- CACHE -->
    <div class="col l4 m6 s12">
      <div class="row center extrapadding">
        <h5>{{ l.a_cache }}</h5>
        <div class="container">
          <span class="nowrap">default: <b>{{ cache_profiles.default }}</b></span>&nbsp;
          <span class="nowrap">CSV: <b>{{ cache_profiles.csv }}</b></span>&nbsp;
          <span class="nowrap">{{ l.a_limiter }}: <b>{{ CONST.LIMITER_MAXIMUM }}x</b> / <b>{{ cache_profiles.limiter }}</b></span>&nbsp;
          <span class="nowrap">{{ l.a_webpage }}: <b>{{ cache_profiles.page }}</b></span>
        </div>
        <div class="row center">
          <a id="a_update" style="margin:5px;" class="tooltipped waves-effect green waves-light btn"
            data-position="top" data-tooltip="{{ l.a_update_ttip }}">
            <i class="fab fa-google-drive"></i>
            {{ l.a_update }}</a>
          <a id="a_flush" style="margin:5px;" class="tooltipped waves-effect green waves-light btn"
            data-position="top" data-tooltip="{{ l.a_flush_ttip }}">
            <i class="fas fa-cloud-sun"></i>
            {{ l.a_flush }}</a>
        </div>
      </div>
      <div class="row center white hide-on-small-only">
        <div class="col s12 white">
          <label>{{ l.a_remotefns }}</label>
          <select id="RemoteFnSelect">
            <option value="" disabled selected>&hellip;</option>
            <option value="CoreUpdateRemote">Core Data Update</option>
            <option value="FlushCacheRemote">Flush Local Cache</option>
            <option value="RebuildNonceRemote">Rebuild Auth Nonce</option>
            <option value="RebuildSecureKeyRemote">Rebuild Cookie Secure Key</option>
            <option value="RebuildAdminKeyRemote">Rebuild Administration Secure Key</option>
          </select>
        </div>
      </div>
    </div>

    <!-- PERMISSIONS -->
    <div class="col l4 m6 s12">
      <div class="row center extrapadding">
        <div class="white-text">
          <h5>{{ l.a_groups_permissions }}</h5>
          <div class="row center hide-on-small-only">
            <strong>ADMIN</strong>
            <div class="container">
              <p class="orange-text">
                {{#admin_groups.admin}}{{ . }} {{/admin_groups.admin}}
                {{^admin_groups.admin}}<i class="red-text fas fa-times"></i>{{/admin_groups.admin}}
              </p>
            </div>
            <strong>DEFAULT</strong>
            <div class="container">
              <p class="orange-text">
                {{#admin_groups.default}}{{ . }} {{/admin_groups.default}}
                {{^admin_groups.default}}<i class="red-text fas fa-times"></i>{{/admin_groups.default}}
              </p>
            </div>
          </div>
          <div class="row center">
            <strong>{{user.name}}</strong><br>
            <i style="font-size:smaller">{{user.email}}</i><br>
            <a id="a_getcode" class="btnmargin waves-effect blue waves-light btn"
              data-position="top" data-tooltip="">📲</a>
            <a id="a_delcode" class="btnmargin waves-effect red waves-light btn"
              data-position="top" data-tooltip="">📴</a>
            <br>
            <a id="a_logout" class="tooltipped waves-effect green waves-light btn"
              data-position="top" data-tooltip="{{ l.a_logout_ttip }}">
              <i class="fas fa-sign-out-alt"></i>
              {{ l.a_logout }}</a>
            <a target="_blank" ref="nofollow" href="/admin/AuditLog" class="waves-effect blue waves-light btn">
              <i class="fas fa-list"></i></a>
            <br>
            <a id="a_clearbrowserdata" style="margin:5px;" class="tooltipped waves-effect red waves-light btn"
              data-position="top" data-tooltip="{{ l.a_clear_browser_ttip }}">
              <i class="fas fa-power-off"></i>
              {{ l.a_clear_browser }}</a>
          </div>
        </div>
      </div>
    </div>

    <!-- GOOGLE -->
    <div class="col l4 m6 s12">
      <div class="row center extrapadding hide-on-small-only">
        <div class="white-text">
          <h5>{{ l.a_google }}</h5>
          <ul class="mono">
            <li>GCP id: {{ gcp_project_id }}
              {{^gcp_project_id}}
              <i class="red-text fas fa-times"></i>
              {{/gcp_project_id}}
            </li>
            <li>Maps Location Query: {{ google.map_query }}
              {{^google.map_query}}
              <i class="red-text fas fa-times"></i>
              {{/google.map_query}}
            </li>
            <li>Maps API key: 
              {{#google.mapsapi_key}}
              <span title="{{ google.mapsapi_key }}" class="protect">{{ google.mapsapi_key }}</span>
              {{/google.mapsapi_key}}
              {{^google.mapsapi_key}}
              <i class="red-text fas fa-times"></i>
              {{/google.mapsapi_key}}
            </li>
            <li>Analytics UA: {{ google.ua }}
              {{^google.ua}}
              <i class="red-text fas fa-times"></i>
              {{/google.ua}}
            </li>
            <li>PageSpeed Insights API key:
              {{#google.pagespeedinsights_key}}
              <span title="{{ google.pagespeedinsights_key }}" class="protect">{{ google.pagespeedinsights_key }}</span>
              {{/google.pagespeedinsights_key}}
              {{^google.pagespeedinsights_key}}
              <i class="red-text fas fa-times"></i>
              {{/google.pagespeedinsights_key}}
            </li>
          </ul>
          {{^l.onesignal_appid}}
          <div class="row center red-text" style="margin-top:1em">
            <div class="container">
              {{ l.a_onesignal_missing }}
            </div>
          </div>
          {{/l.onesignal_appid}}
        </div>
      </div>
    </div>

    <!-- CHANGELOG -->
    <div class="col l4 m6 hide-on-small-only">
      <div class="row center extrapadding">
        <h5>{{ l.a_changes }}</h5>
        <div class="row grey-text" style="margin-top:1em">
          <div class="grey-text left-align container">
            {{ l.a_changelog }}
          </div>
        </div>
      </div>
    </div>

    <!-- PAGESPEED INSIGHTS -->
    <div class="col l4 m6 hide-on-small-only">
      <div class="row center extrapadding">
        <h5>{{ l.a_optimizations }}&nbsp;<span id="psi_ping" class="mono">&nbsp;</span></h5>
        <p id="a_ps_insights_info"></p>
        <div id="psi_row" class="row center">
          <a id="a_ps_insights" class="tooltipped waves-effect green waves-light btn" data-position="top"
            data-tooltip="{{ l.a_ps_insights_ttip }}">
            <i class="fab fa-google"></i>
            {{ l.a_ps_insights }}</a>
        </div>
      </div>

      <!-- ICON BUTTONS -->
      <h4 class="center">
        <a rel="noreferrer noopener" target="_blank" class="tooltipped blue-text text" data-position="top"
          data-tooltip="{{ l.a_github_ttip }}" href="https://github.com/gscloud"><i class="fab fa-git"></i></a>
        <a rel="noreferrer noopener" target="_blank" class="tooltipped orange-text text" data-position="top"
          data-tooltip="{{ l.a_sysinfo_ttip }}" href="https://sys.gscloud.cz/index.php?disp=bootstrap">
          <i class="fas fa-server"></i></a>
        <a rel="noreferrer noopener" target="_blank" class="tooltipped red-text text"
          data-position="top" data-tooltip="{{ l.a_lasagna_manual_ttip }}" href="{{ l.a_lasagna_manual_url }}">
          <i class="fas fa-dna"></i></a>
        <a rel="noreferrer noopener" target="_blank" class="tooltipped white-text text" data-position="top"
          data-tooltip="{{ l.a_locale_template_ttip }}" href="{{ l.a_locale_template_url }}">
          <i class="fas fa-clone"></i></a>
        <a rel="noreferrer noopener" target="_blank" class="tooltipped blue-text text" data-position="top"
          data-tooltip="{{ l.a_php_ttip }}" href="https://php.gscloud.cz" style="font-size:0.8em">
          <span class="php1">p</span><span class="php2">h</span><span class="php3">p</span></a>
        {{#google_drive_backup}}
        <a rel="noreferrer noopener" target="_blank" class="tooltipped brown-text text" data-position="top"
          data-tooltip="{{ l.a_google_backup_ttip }}" href="{{ google_drive_backup }}">
          <i class="fas fa-warehouse"></i></a>
        {{/google_drive_backup}}
      </h4>
    </div>

  </div>

  <!-- EMOJIS -->
  <div id="emojis" class="row center" style="display:none">{{>emoji}}</div>

  <!-- UPLOADS -->
  <div id="a_uploader_progress"></div>
  <div id="a_file_manager"></div>
</div>

<script>
  (function(w, d, undefined) {

    if (getCookie("logout")) {
      d.getElementById("admin_main").style.display = "none";
      setCookie("motyle", "true");
    }
    delCookie("logout");

    if (w.GSC.init) {
      w.GSC.data = {};
      w.GSC.profile = "default";
      w.GSC.data.multisite_profiles = {{ multisite_profiles_json }};

      // ShowLoader()
      if (!w.GSC.ShowLoader) w.GSC.ShowLoader = function(t) {
        if (!t) return;
        $(t).html(
          '<div class="preloader-wrapper small active"><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class=circle></div></div><div class=gap-patch><div class=circle></div></div><div class="circle-clipper right"><div class=circle></div></div></div></div>'
        );
      }

      // PingDot()
      if (!w.GSC.PingDot) w.GSC.PingDot = function(dot, status = true) {
        if (!dot) return;
        if (status) {
          status = "green";
        } else {
          status = "red";
        }
        $(dot).html("&#8226;").css({
          color: status,
          opacity: 1
        }).fadeTo("slow", 0);
      }

      // GetCsvInfo()
      if (!w.GSC.GetCsvInfo) w.GSC.GetCsvInfo = function() {
        if (w.GSC.offline) { // offline
          return GSC.PingDot("#csv_ping", false);
        }

        // API: GetCsvInfo
        $.get("/admin/GetCsvInfo?" + Date.now(), function(data) {
            GSC.PingDot("#csv_ping");
            var content = "";
            var now = ~~(Date.now() / 1000);
            for (x in data.data) {
              var link = x;
              var csv = data.data[x]["csv"];
              var lines = data.data[x]["lines"];
              var sheet = data.data[x]["sheet"];
              if (sheet) {
                link =
                  '<a rel=noopener target=_blank title="{{ l.a_edit_gsheet_ttip }}" style="border-radius:2px" ' +
                  'class="orange mono white-text bold" href="' +
                  'https://docs.google.com/spreadsheets/d/' +
                  sheet + '/edit#gid=0">&nbsp;<i class="material-icons white-text tiny">edit</i>&#8239;' +
                  x + '&nbsp;</a>&nbsp;&nbsp;&nbsp;<a rel=noopener target=_blank title="{{ l.a_download_csv_ttip }}"' +
                  ' style="border-radius:2px" class="bold blue white-text mono" ' +
                  'href="https://docs.google.com/spreadsheets/d/e/' +
                  csv + '/pub?gid=0&single=true&output=csv">&nbsp;<i class="fas white-text fa-cloud-download-alt"></i>&#8239;' +
                  lines + '&nbsp;</a>&nbsp;';
              }
              moment.locale("{{ lang }}");
              content += (link + " {{ l.a_age }}&nbsp;" +
                moment.duration(Math.abs(~~((now - data.data[x]["timestamp"]))), "seconds").humanize() + "<br>"
              );
            }
            $("#a_update_info").html(content);
          })
          .fail(function() {
            GSC.PingDot("#csv_ping", false);
            $("#a_update_info").addClass("bigemoji").html("ERROR 🤯");
          });
      }

      // GetPSInsights()
      if (!w.GSC.GetPSInsights) w.GSC.GetPSInsights = function() {
        if (GSC.offline) { // offline
          M.toast({html: "offline 📶"});
          return GSC.PingDot("#psi_ping", false);
        }
        var t = "#a_ps_insights_info";
        GSC.ShowLoader(t);

        // API: GetPSInsights
        $.get("/admin/GetPSInsights?" + Date.now(), function(data) {
            GSC.PingDot("#psi_ping");
            $("#psi_row").hide();
            if (data.data && data.data.lighthouseResult) {
              $(t).html('<h2 class="orange-text a_reset a_h2">' + data.data.lighthouseResult.categories.performance.score * 100 + "&nbsp;%</h2>");
              $(t).append("Lighthouse version:&nbsp;<span class=bold>" + data.data.lighthouseResult.lighthouseVersion + "</span><br> ");
              $(t).append("Total timing:&nbsp;<span class=bold>" + data.data.lighthouseResult.timing.total + "&nbsp;msec.</span> ");
              $(t).slideDown();
            } else {
              $(t).html("GetPSInsights ERROR 🤯").slideDown();
            }
            $("#a_ps_insights").removeAttr("disabled");
          })
          .fail(function() {
            GSC.PingDot("#psi_ping", false);
            $(t).html("GetPSInsights ERROR 🤯").slideDown();
            $("#a_ps_insights").removeAttr("disabled");
          });
      }

      // GSC.AdminUI()
      if (!w.GSC.AdminUI) w.GSC.AdminUI = function() {
        $("#admin_main div").addClass("a_reset");
        $("#admin_main h2").addClass("a_reset a_h2");
        $("#admin_main h4").addClass("a_reset a_h4");
        $("#admin_main h5").addClass("a_reset a_h5");
        $("#admin_main p").addClass("a_reset");

        // remove tooltips for touch display
        if (w.GSC.touch) {
          if ($(".tooltipped")) $(".tooltipped").tooltip("destroy");
        }

        // editor block doubleclick
        $(".summernote").dblclick(function() {
          $(".summernote").unbind("dblclick");
          GSC.DeploySummernote();
        });

        // API - GetArticlesInfo
        $.get("/admin/GetArticlesInfo?" + Date.now(), function(data) {
          if (data && data.data) {
            for (var i in data.data) {
              $('#UrlSelect').append("<option value='" + data.data[i] + "'>" + data.data[i] + "</option>");
            }
            $('#UrlSelect').formSelect(); // populate form data
          }
        });
      }

      // click + URL button
      $("#a_article").click(function() {
        var name = prompt('{{ l.a_article_add_prompt }}:').trim();
        name = name.replace(/['"/\\]/g, '');
        if (name.length && name != '!') {
          location.pathname = '{{ lang }}/id/' + name;
        }
      });

      // GSC.DeploySummernote()
      if (!w.GSC.DeploySummernote) w.GSC.DeploySummernote = function() {
        GSC.summernote_on = true;
        $("#a_summernote").attr("disabled", "disabled");
        $("#a_summernote").text("{{ l.a_save_all }}");
        $("#a_summernote").unbind("click");

        // SAVE ALL button
        $("#a_summernote").click(function() {
          if (GSC.offline) { // offline
            M.toast({html: "offline 📶"});
            return GSC.PingDot("#summer_ping", false);
          }
          $("#a_summernote").attr("disabled", "disabled");
          var id;
          var data = {};
          $(".summernote").each(function(i, obj) { // collect HTML data
            id = $(obj).attr("id");
            if (id) {
              data[id] = $(obj).summernote("code");
            }
            $(obj).summernote("destroy");
          });

          // API: UpdateArticles (POST - save all articles data)
          $.post("/admin/UpdateArticles", {
            profile: GSC.profile,
            hash: "{{ request_path_hash }}",
            path: "{{ request_path }}",
            data: JSON.stringify(data)
          }, function(data) {
            console.log("UpdateArticles result", {data});
          }).done(function() {
            GSC.PingDot("#summer_ping");
            $("#a_summernote").removeAttr("disabled");

            GSC.AdminUI();
            $("#a_summernote").html('<i class="fas fa-edit"></i>{{ l.a_summernote }}');
            $("#a_summernote").unbind("click");

            $("#a_summernote").click(function() {
              GSC.ReadArticles(function() {
                GSC.DeploySummernote();
              });
            });

            GSC.summernote_on = false;
          }).fail(function(xhr, status, error) {
            alert(error); // show error message
            $("#a_summernote").removeAttr("disabled");
            GSC.PingDot("#summer_ping", false);
            M.toast({html: "ERROR 🤯"});
          });
        });

        // SaveAllButton() button
        var SaveAllButton = function(context) {
          var ui = $.summernote.ui;
          var button = ui.button({
            className: 'note-btn-bold blue',
            contents: '<span title="💾 {{ l.a_save }}"><i class="fas fa-save"></i>&nbsp;<b>{{ l.a_save }}</b></span>',
            codeviewKeepButton: false,
            click: function(e) {
              $("#a_summernote").click();
            }
          });
          return button.render();
        }

        // DestroyButton() button
        var DestroyButton = function(context) {
          var ui = $.summernote.ui;
          var button = ui.button({
            className: 'note-btn-bold',
            contents: '<span title="[X] {{ l.a_close }}"><i class="fas fa-window-close"></i>&nbsp;<b>{{ l.a_close }}</b></span>',
            codeviewKeepButton: true,
            click: function(e) {
              //context.invoke('destroy');
              $(".summernote").each(function(i, obj) {
                $(obj).summernote("destroy");
                GSC.AdminUI();
                $("#a_summernote").html('<i class="fas fa-edit"></i>{{ l.a_summernote }}');
                $("#a_summernote").unbind("click");

                $("#a_summernote").click(function() {
                  GSC.ReadArticles(function() {
                    GSC.DeploySummernote();
                  });
                });
                GSC.summernote_on = false;
              });
            }
          });
          return button.render();
        }

        // HistorySelector() listbox
        var HistorySelector = function(context) {
          var ui = $.summernote.ui;
          var list = ui.buttonGroup([
            ui.button({
              className: 'dropdown-toggle',
              contents: '<span class="fa fa-clock"></span> <span class="caret"></span>',
              data: {
                toggle: 'dropdown'
              }
            }),
            ui.dropdown({
              className: 'dropdown-style',
              //contents: "<ol><li>hello</li><li>hello Europe</li><li>hello great Europe</li></ol>",
              contents: "<ol></ol>",
              callback: function($dropdown) {
                $dropdown.find('li').each(function() {
                  $(this).click(function() {
                    context.invoke("editor.insertText", $(this).html());
                  });
                });
              }
            })
          ]);
          return list.render();
        }

        // FullScreen() button
        var FullScreenButton = function(context) {
          var ui = $.summernote.ui;
          var button = ui.button({
            contents: '<span title="full-screen"><i class="fas fa-expand"></i></span>',
            codeviewKeepButton: true,
            click: function(e) {
              context.invoke("fullscreen.toggle");
              context.invoke("codeview.toggle");
            }
          });
          return button.render();
        }

        // Summernote configuration
        $(".summernote").summernote({
          codeviewFilter: true,
          codeviewIframeFilter: true,
          dialogsInBody: false,
          disableDragAndDrop: true,
          height: 300,
          codemirror: {
            theme: "material-darker"
          },
          lang: '{{#langcs}}cs-CZ{{/langcs}}{{#langen}}en-US{{/langen}}',
          maximumImageFileSize: 1024*1024*4,
          placeholder: '{{#langcs}}Vítejte v Summernote!{{/langcs}}{{#langen}}Welcome to Summernote!{{/langen}}',
          callbacks: {
            onChange: function(contents, $editable) {
              $("div.note-btn-group.note-custom2>button").removeClass("blue").addClass("red");
            }
          },
          tableClassName: "table table-bordered striped highlight responsive-table",
          styleTags: [
            "p", "blockquote", "pre", "h2", "h3", "h4", "h5", "h6",
          ],
          lineHeights: [
            "0.2", "0.3", "0.4", "0.5", "0.6", "0.8", "1.0", "1.2", "1.4", "1.5", "2.0", "3.0"
          ],
          fontSizes: [
            "6", "7", "8", "9", "10", "11", "12", "14", "16", "18", "20", "24", "30", "36", "42", "48", "55", "64", "82", "100", "130", "160", "200"
          ],
          toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "italic", "underline", "fontsize", "fontname", "strikethrough", "superscript", "subscript", "clear"]],
            ["color", ["forecolor", "backcolor", "color"]],
            ["paragraph", ["ul", "ol", "paragraph", "height"]],
            ["table", ["table"]],
            ["insert", ["hr", "link", "picture", "video"]],
            ["history", ["undo", "redo"]],
            ["view", ["fs"]],
            ["custom1", ["hist"]],
            ["custom2", ["saveall", "destroy"]],
          ],
          buttons: {
            saveall: SaveAllButton,
            fs: FullScreenButton,
            hist: HistorySelector,
            destroy: DestroyButton
          }
        });
        $("#a_summernote").removeAttr("disabled");
      }

      // admin UI bindings
      w.GSC.init.push(function() {
        w.GSC.names.push("admin UI bindings");

        // 🦋 cookie check
        if (getCookie("motyle") == "false" || !getCookie("motyle")) $("#admin_main").show(100);

        // UI: 🦋
        $(".motyle").click(function() {
          $("#admin_main").toggle(200, function() {
            window.scrollTo(0, 0);
            setCookie("motyle", $("#admin_main").is(":hidden"));
          })
        });

        // setup profiles
        var profiles = [];
        var params = new window.URLSearchParams(window.location.search);
        var profile = params.get("profile");
        for (var i in GSC.data.multisite_profiles) profiles.push(i);
        if (!profiles.includes(profile)) {
          profile = getCookie("profile");
          if (!profiles.includes(profile)) {
            profile = "default";
          }
        }
        GSC.profile = profile;
        setCookie("profile", profile);
        $("#SiteSelect option[value=" + profile + "]").prop("selected", true);
        $("#SiteSelect").formSelect();  // populate form data
        $("#domains").html(GSC.data.multisite_profiles[profile].join(" "));

        // web profile selector
        $("#SiteSelect").change(function() {
          if (!$("#SiteSelect").val()) return;
          var profile = $("#SiteSelect").val().trim();
          setCookie("profile", profile);
          window.location.href = window.location.pathname + "?profile=" + profile;
        });

        // articles URL selector
        $("#UrlSelect").change(function() {
          if ($('#UrlSelect').val()) {
            window.location.pathname = $('#UrlSelect').val();
          }
        });

        // remote function selector
        $("#RemoteFnSelect").change(function() {
          if (w.GSC.offline) { // offline
            M.toast({html: "offline 📶"});
            return GSC.PingDot("#sectok_ping", false);
          }
          if (!$("#RemoteFnSelect").val()) return;

          // API: GetUpdateToken
          $.get("/admin/GetUpdateToken?" + Date.now(), function(data) {
            var s = $("#RemoteFnSelect").val();
            var t = data.data[0];
            t = t.replace(/[a-zA-Z]*\?/, s + "?");
            GSC.CopyClipboard(t);
            GSC.PingDot("#sectok_ping");
            M.toast({html: s + " {{ l.a_remotecode }}: {{ l.a_clipboardcopy }}"});
          }).fail(function() {
            $("#a_security_token").val("N/A");
            GSC.PingDot("#sectok_ping", false);
            GSC.CopyClipboard("");
            M.toast({html: s + " ERROR 🤯"});
          });
        });

        // update CSV data
        $("#a_update").click(function() {
          if (w.GSC.offline) { // offline
            M.toast({html: "offline 📶"});
            return GSC.PingDot("#csv_ping", false);
          }
          $("#a_update").attr("disabled", "disabled");
          setTimeout(function() {
            $("#a_update").removeAttr("disabled");
          }, 30E3);

          // API: CoreUpdate
          $.post("/admin/CoreUpdate");
          M.toast({html: "{{ l.a_processing_data }}"});
        });

        // show Google PSI
        $("#a_ps_insights").click(function() {
          if (w.GSC.offline) { // offline
            M.toast({html: "offline 📶"});
            return GSC.PingDot("#psi_ping", false);
          }
          $("#a_ps_insights").attr("disabled", "disabled");
          GSC.PingDot("#psi_ping");
          GSC.GetPSInsights();
        });

        // invoke Summernote editor
        $("#a_summernote").click(function() {
          if (w.GSC.offline) { // offline
            M.toast({html: "offline 📶"});
            return GSC.PingDot("#psi_ping", false);
          }
          GSC.ReadArticles(function() {
            GSC.DeploySummernote();
          });
        });

        // toggle emoji panel
        $("#a_emoji").click(function() {
          if (!GSC.emojicc) {
            var splitter = new GraphemeSplitter();
            var graphemes = splitter.splitGraphemes($("#emojis").text());
            var arr = graphemes.map(function(x) {
              return '<span class="ccemoji">' + x + '</span>';
            });
            $("#emojis").html(arr.join(""));
            $(".ccemoji").click(function() {
              var x = $(this).text();
              GSC.CopyClipboard(x);
              M.toast({html: x, classes: "bigemoji"});
            });
            GSC.emojicc = true;
          }
          $("#emojis").toggle("fast");
        });

        // clear browser data
        $("#a_clearbrowserdata").click(function() {
          if (w.GSC.offline) { // offline
            M.toast({html: "offline 📶"});
            return GSC.PingDot("#csv_ping", false);
          }
          GSC.GetCsvInfo = function() {};
          $("#a_clearbrowserdata").attr("disabled", "disabled");
          M.toast({html: "💤💤💤"});
          window.location.replace("/admin/clearbrowserdata");
        });

        // file manager
        $("#a_files").click(function() {
          if (w.GSC.offline) { // offline
            M.toast({html: "offline 📶"});
            return GSC.PingDot("#csv_ping", false);
          }
          // clear file & upload content if present
          if (getCookie("open_filemanager")) {
            delCookie("open_filemanager");
            $("#a_file_manager").hide(50);
            $("#a_uploader_progress").html("");
            return;
          }
          GSC.RenderUploadInfo();
        });

        // GSC.RenderUploadInfo()
        if (typeof GSC.RenderUploadInfo !== "function") GSC.RenderUploadInfo = function() {
          $.get("/admin/GetUploadFileInfo?" + Date.now(), function(data) {
            if (data && data.data) {
              setCookie("open_filemanager", 1); // remember state
              GSC.PingDot("#summer_ping");
              var s = '<h5>{{ l.a_files_ttip }} <span onclick="javascript:GSC.RenderUploadInfo();" class="hover"><i class="green-text fas fa-sync-alt"></i></span></h5>';
              var now = ~~(Date.now() / 1000);
              moment.locale("{{ lang }}");

              // preprocess last uploads
              var last = [];
              if (localStorage["last_upload"]) {
                var x = JSON.parse(localStorage["last_upload"]);
                for (var i in x) last[i] = x[i];
              }

              // UPLOAD: render HTML
              var t = 0;
              for (var i in data.data) {
                t++;
                if (t == 1) {
                  s += '<div class="row .hide-on-small-only">';
                }
                if (t > 6) { // MAX columns
                  t = 1;
                  s += '</div><div class="row .hide-on-small-only">';
                }
                var ext = GSC.GetFileExtension(i); // extension
                var border = "";
                if (last[i]) { // set border for last uploads
                  border = ' style="border:1px solid #444" ';
                }
                s += '<div ' + border + ' class="left-align col l2 m2 s12"><a title="{{ l.a_open_tit }}" class="hover" ';
                s += 'onclick="javascript:window.open(\'/upload/' + i + '\', \'preview\', \'location,resizable,scrollbars,status\');">';
                if (data.data[i]["thumbnail"]) s += '<img alt="thumbnail" class="responsive-img" height=50px src="' + data.data[i]["thumbnail"] + '"><br>';
                s += '<span title="' + i + '" class="fileitem">' + i + '</span></a><br>';
                s += '<span class="hide-on-med-and-down">{{ l.a_age }}&nbsp;';
                s += moment.duration(Math.abs(~~((now - data.data[i]["timestamp"]))), "seconds").humanize();
                s += ',&nbsp;';
                s += GSC.FormatBytes(data.data[i]["size"]);
                s += '</span> ';
                s += '<span title="📋 {{ l.a_copy_tit }}" class="hover copydata" data-text="{{ BASE }}upload/' + i + '">📋</span>&nbsp;';
                if (ext == "epub") s += '<a target=_blank title="EPUB" class="hover" href="{{ BASE }}epub/upload/' + i + '">📚</a>&nbsp;';
                s += '<span title="🗑 {{ l.a_delete_tit }}" class="hover delete" data-id="' + i + '">❌</span>';
                s += '</div>';
              }
              if (t) {
                s += "</div>";
              } else {
                s += "&mdash;&mdash;&mdash;";
              }
              if ($("#a_file_manager").html() != "") {
                $("#a_file_manager").html(s).show();
              } else {
                $("#a_file_manager").hide().html(s).show(200);
              }

              // UPLOAD: copy path to clipboard
              $("#a_file_manager .copydata").click(function() {
                var x = $(this).data("text");
                GSC.CopyClipboard(x);
                M.toast({html: "📋 " + x});
              });

              // UPLOAD: file delete
              $("#a_file_manager .delete").click(function() {
                if (GSC.deleteconfirm || confirm("{{ l.a_delete_tit }}?")) {
                  GSC.deleteconfirm = true;
                  var x = $(this).data("id");

                  // API: UploadedFileDelete
                  $.post("/admin/UploadedFileDelete", {name: x}).done(function(data) {
                    M.toast({html: "❌ " + x});
                    GSC.RenderUploadInfo();
                  });
                }
              });

            }
          });
        }

        // flush cache
        $("#a_flush").click(function() {
          if (w.GSC.offline) { // offline
            M.toast({html: "offline 📶"});
            return GSC.PingDot("#csv_ping", false);
          }
          GSC.GetCsvInfo = function() {};
          $("#a_flush").attr("disabled", "disabled");

          // API: FlushCache
          $.post("/admin/FlushCache");
          M.toast({html: "🌈"});
          window.location.reload(true);
        });

        // get auth code
        $("#a_getcode").click(function() {
          if (w.GSC.offline) { // offline
            M.toast({html: "offline 📶"});
            return GSC.PingDot("#csv_ping", false);
          }

          // API: CreateAuthCode
          $.post("/admin/CreateAuthCode", function(data) {
            GSC.CopyClipboard(data.data.hash);
            M.toast({html: "CreateAuthCode 🆗 {{ l.a_clipboardcopy }} [" + data.data.hash + "]"});
          });
        });

        // delete auth code
        $("#a_delcode").click(function() {
          if (w.GSC.offline) { // offline
            M.toast({html: "offline 📶"});
            return GSC.PingDot("#csv_ping", false);
          }

          // API: DeleteAuthCode
          $.post("/admin/DeleteAuthCode", function(data) {
            M.toast({html: "DeleteAuthCode 🆗 {{ l.a_codedeleted }}"});
            GSC.CopyClipboard("");
          });
        });

        $("#a_logout").click(function() {
          setCookie("logout", "logout");
          GSC.offline ? window.location.replace("/?nonce=".Date.now()) : window.location.replace("/logout");
        });

      });

      // CSV info timer
      w.GSC.init.push(function() {
        w.GSC.names.push("CSV timer");
        if (!w.GSC.offline) GSC.ShowLoader("#a_update_info");
        setInterval(function() {
          window.GSC.GetCsvInfo();
        }, 2500);
        GSC.GetCsvInfo();
      });

      // show admin UI
      w.GSC.init.push(function() {
        w.GSC.names.push("Admin UI");
        GSC.AdminUI();
        // filemanager state
        if (getCookie("open_filemanager")) {
          $("#a_file_manager").hide();
          GSC.RenderUploadInfo();
        }
      });

      // load PSI in the background (caching)
      w.GSC.init.push(function() {
        w.GSC.names.push("Update PSI cache");

        // API: GetPSInsights
        $.get("/admin/GetPSInsights?" + Date.now());
      });

      // set uploader
      w.GSC.init.push(function() {
        w.GSC.names.push("Uploader");

        ZeroUpload.setURL("/admin/upload");
        ZeroUpload.setMaxFiles(100);
        ZeroUpload.setMaxBytes(100 * 1024 * 1024); // 100 MB

        ZeroUpload.on("complete", function(response) {
          M.toast({html: "Upload complete 🆗"});
          var data = JSON.parse(response.data);
          if (data && data.data) {
            setCookie("open_filemanager", 1); // remember state
            localStorage["last_upload"] = JSON.stringify(data.data);
            GSC.RenderUploadInfo();
            return;
          }
        });

        ZeroUpload.on("start", function(files, userData) {
          M.toast({html: "Upload started 👷"});
        });

        ZeroUpload.on("error", function(type, message, userData) {
          var s;
          switch (type) {
            case "maxbytes":
              s = "{{ l.a_upload_maxbytes }}";
              break;
            case "unsupported":
              s = "{{ l.a_upload_unsupported }}";
              break;
            case "maxfiles":
              s = "{{ l.a_upload_maxfiles }}";
              break;
            case "filetype":
              s = "{{ l.a_upload_filetype }}";
              break;
            case "http":
              s = "{{ l.a_upload_http }}";
              break;
            default:
              s = "{{ l.a_upload_ajax }}";
          }
    		  M.toast({html: s});
	      });

        ZeroUpload.on("progress", function(progress, userData) {
          $("#a_uploader_progress").show(200).html(
            '<h5>{{ l.a_upload_ttip }}</h5><div style="padding:1em"><div class="row">' +
            '<strong>Progress:</strong> ' + progress.percent + ', ' +
            progress.elapsedHuman + ' elapsed</div>' +
            '<div><strong>Sent:</strong> ' + progress.dataSentHuman + ' of ' +
            progress.dataTotalHuman + ' (' + progress.dataRateHuman + ')</div>' +
            '<div><strong>Remaining:</strong> ' + progress.remainingTimeHuman + '</div></div>'
          );
        });

        // init uploader
        ZeroUpload.init();
        ZeroUpload.addDropTarget("#admin_main");

        // UI: upload button
        $("#a_upload").click(function() {
          if (w.GSC.offline) { // offline
            M.toast({html: "offline 📶"});
            return GSC.PingDot("#csv_ping", false);
          }
          $("#a_uploader_progress").html("");
          ZeroUpload.chooseFiles();
        });
      });

    }
  })(window, document);

</script>

<!-- SUMMERNOTE -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/theme/material-darker.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/addon/display/fullscreen.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/xml/xml.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/addon/display/fullscreen.min.js" defer></script>
<link href="{{ cdn }}/summernote/summernote-lite.min.css" rel="stylesheet">
<script src="{{ cdn }}/summernote/summernote-lite.min.js" defer></script>
{{#langcs}}<script src="{{ cdn }}/summernote/lang/summernote-cs-CZ.min.js" defer></script>{{/langcs}}

<!-- MOMENT -->
<script src="{{ cdn }}/js/moment-with-locales.min.js" defer></script>

<!-- GRAPHEME -->
<script src="{{ cdn }}/js/grapheme.min.js" defer></script>

<!-- ZEROUPLOAD -->
<script src="{{ cdn }}/js/zeroupload.min.js" defer></script>

{{/admin_group_admin}}
