<div style="padding-top:2em" class="row">{{>webshare}}</div>
<div style="overflow:hidden" class="row">
    <div class="col l4 s4">{{>tw_share}}</div>
    <div class="col l4 s4">{{>fb_share}}</div>
    <div class="col l4 s4">{{>fb_like}}</div>
</div>
