<div class="row container center">
    {{>webshare}}
    <div class="col l4 s4">{{>tw_share}}</div>
    <div class="col l4 s4">{{>fb_share}}</div>
    <div class="col l4 s4">{{>fb_like}}</div>
</div>
