{{>html_header}}
{{>fb_body}}
{{>tw_body}}

<div class="container">
  <div class="row center">

    {{>title}}
    {{>webshare}}
    <br><br>
    {{>fb_share}}
    <br><br>
    {{>fb_like}}

    <div class="container">
      <div class="row left-align">
        <div id="user1" class="summernote"><div class="progress"><div class="indeterminate"></div></div></div>
      </div>
    </div>

    <h5 id="websharetest">&nbsp;webshare test&nbsp;</h5>

    <h4>Emoji & specials</h4>
    <div id="emojisdemo">
      🌱🌲🌳🌴🌵🌶🌷🌸🌹🌺🌻🌼🌽🌾🌿🍀🍁🍂🍃🍄🍅🍆🍇🍈🍉🍊🍋🍌🍍🍎🍏🍐🍑🍒🍓
    </div>

    <div class="container">
      <div class="row left-align">
        <div id="user2" class="summernote"><div class="progress"><div class="indeterminate"></div></div></div>
      </div>
    </div>

  </div>
</div>

<script src="{{ cdn }}/js/grapheme.min.js" defer></script>
<script>
  (function (w, d, undefined) {
    if (w.GSC.init) {

      w.GSC.init.push(function () {
        w.GSC.names.push("WebShare API test");
        if (typeof window.WebShareFactory === "function") $('#websharetest').append(WebShareFactory(
          'WebShare API works!', '', 'DEMO'));
      });

      w.GSC.init.push(function () {
        w.GSC.names.push("Grapheme test");
        var splitter = new GraphemeSplitter();
        var graphemes = splitter.splitGraphemes($("#emojisdemo").text());
        var arr = graphemes.map(function (x) {
          return '<span class="ccemojisdemo">' + x + '</span>';
        });
        $("#emojisdemo").html(arr.join(''));
        $(".ccemojisdemo").click(function () {
          var x = $(this).text();
          GSC.CopyClipboard(x);
          M.toast({
            html: x,
            classes: "bigemoji"
          });
        });
      });

    }
  })(window, document);

</script>

<style>.bigemoji{font-size:5em}</style>

{{>html_footer}}
