<script>
  window.cceudata = {
    "content": {
      "dismiss": "{{ l.cookie_dismiss }}",
      "link": "{{ l.cookie_link }}",
      "message": "{{ l.cookie_message }}"
    },
    "ui": {
      "button_background": "{{ ui.cookie_button_background }}",
      "button_border": "{{ ui.cookie_button_border }}",
      "button_text": "{{ ui.cookie_button_text }}",
      "popup_background": "{{ ui.cookie_popup_background }}",
      "position": "{{ ui.cookie_position }}",
      "static": "{{ ui.cookie_static }}"
    }
  }
</script>
