{{>html_header}}
{{>fb_body}}
{{>tw_body}}

<div class="container">
  <div class="row left-align">
    <div id="article" class="summernote"><div class="progress"><div class="indeterminate"></div></div></div>
  </div>
  <div class="row center">

    <br>
    {{>webshare}}
    <br><br>
    {{>tw_share}}
    <br><br>
    {{>fb_share}}
    <br><br>
    {{>fb_like}}

  </div>
</div>

{{>html_footer}}
