{{#container_switch_article}}
{{>body_article}}
{{/container_switch_article}}

{{#container_switch_form}}
{{>body_formcontainer}}
{{/container_switch_form}}

{{^container_switch_article}}
{{>body_container}}
{{/container_switch_article}}
