<style>
/* PHP LOGO */
.php1{position:relative;left:+0.1em;text-transform:lowercase!important}
.php2{position:relative;left:+0.0em;text-transform:lowercase!important}
.php3{position:relative;left:-0.1em;text-transform:lowercase!important}

/* EMOJIS */
.bigemoji{font-size:5em}
.emoji-list i {font-style: normal!important}
.emoji-list {min-width: 400px;padding:5px;overflow:scroll;display:inline-block;cursor:pointer;margin:1px}
@media (max-width:599px) { /* smaller box for mobiles */
  .emoji-list * {margin: 5px}
  .emoji-list {min-width: 300px!important}
}
@media (min-width:600px) { /* bigger box */
  .emoji-list * {margin: 2px}
  .emoji-list {min-width: 400px!important}
}
@media (max-width:1023px) { /* fixed box position to the left for mobiles and tablets */
  .emoji-list {position:relative!important;left:0!important}
}

/* ADMIN PANEL */
label{color:#000;font-weight:bold}
#admin_main{font-family:Arial!important;padding-top:5px;font-size:14px!important}
#admin_main .row{margin-bottom:5px}
#admin_main h2,#admin_main h3,#admin_main h4,#admin_main h5,#admin_main h6{font-family:Arial!important;text-transform:uppercase}
.a_reset{font-family:Arial!important;font-size:14px!important}
.a_h2{font-size:5em!important;font-weight:700!important}
.a_h3{font-size:4em!important;font-weight:700!important}
.a_h4{font-size:3em!important;font-weight:700!important}
.a_h5{font-size:2em!important;font-weight:700!important}
.btnmargin{margin:2px;margin-bottom:5px}
.dragover{border:4px dashed blue!important}
.extrapadding{padding:5px;border-radius:5px}
.hover{cursor:pointer}
.nowrap{white-space:nowrap}
.protect{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;width:10em;line-height:12px}
.mobilebutt{font-size:1em}

/* ROTATION & TOUCH */
#a_rotate_device{display:none}
[touch="true"] #a_rotate_device{display:block}

/* SUMMERNOTE */
.summernote{border:2px dashed #ccc;padding:1rem!important}
.summernote::before{content:"📝";position:relative;top:-3rem;left:-1rem}
.panel-heading.note-toolbar .note-font .dropdown-menu,.panel-heading.note-toolbar .note-style .dropdown-menu{min-width:245px;padding:5px}
.panel-heading.note-toolbar .note-font .dropdown-menu>div:first-child,.panel-heading.note-toolbar .note-style .dropdown-menu>div:first-child{margin-right:5px}
.note-add-text-tags-btn{font-family:"Times New Roman",serif;min-width:30px}
div.checkbox.sn-checkbox-open-in-new-window>label>input[type=checkbox]{opacity:1!important;position:relative!important;margin:5px!important}
div.checkbox.sn-checkbox-use-protocol>label>input[type=checkbox]{opacity:1!important;position:relative!important;margin:5px!important}
</style>

<!-- MOTÝLE -->
<span style="position:fixed;left:0;top:0;z-index:999999" class="motyle btn white hide-on-med-and-down">🦋</span>
<span style="position:fixed;right:0;top:0;z-index:999999" class="motyle btn white hide-on-large-only">🦋</span>

<!-- ADMIN PANEL -->
<div id="admin_main" class="row center black white-text" style="display:none;margin:0!important">

  <!-- DEVICE ROTATION INFO -->
  <div id="a_rotate_device" class="row center" style="padding-top:3px">
    {{ l.a_rotate_device }}
  </div>

  <!-- CUSTOM ADMIN PANEL -->
  {{>admin_custom}}

  <!-- EXTERNAL SERVICES -->
  <div class="row center black hide-on-small-only">
    <div class="extrapadding hide-on-small-only" style="padding-top:3px">
      <a style="margin:2px;" class="tooltipped waves-effect teal waves-light btn" target="_blank" rel="noopener"
        data-position="top" data-tooltip="{{ l.a_google_account_ttip }}" href="https://myaccount.google.com/dashboard">
        <i class="fab fa-google"></i>
        {{ l.a_google_account }}</a>
      <a style="margin:2px;" class="tooltipped waves-effect teal waves-light btn" target="_blank" rel="noopener"
        data-position="top" data-tooltip="{{ l.a_google_password_ttip }}" href="https://passwords.google.com">
        <i class="fab fa-google"></i>
        {{ l.a_google_password }}</a>
      <a style="margin:2px;" class="tooltipped waves-effect teal waves-light btn" target="_blank" rel="noopener"
        data-position="top" data-tooltip="{{ l.a_google_search_ttip }}"
        href="https://search.google.com/search-console?resource_id={{ canonical_url }}">
        <i class="fab fa-google"></i>
        {{ l.a_google_search }}</a>
      <a style="margin:2px;" class="tooltipped waves-effect teal waves-light btn" target="_blank" rel="noopener"
        data-position="top" data-tooltip="{{ l.a_google_analytics_ttip }}"
        href="{{#google.analytics}}{{ google.analytics }}{{/google.analytics}}{{^google.analytics}}https://analytics.google.com/analytics/web/{{/google.analytics}}">
        <i class="fab fa-google"></i>
        {{ l.a_google_analytics }}</a>
      <a style="margin:2px;" class="tooltipped waves-effect lime waves-light btn" target="_blank" rel="noopener"
        data-position="top" data-tooltip="{{ l.a_onesignal_ttip }}" href="https://app.onesignal.com/login">
        <i class="fas fa-bell"></i>
        {{ l.a_onesignal }}</a>
    </div>
  </div>

  <!-- EXTERNAL LINKS -->
  <div class="row center black">
    {{#external_links}}
      <a rel="noreferrer noopener" target="_blank" class="tooltipped green white-text" style="padding:4px"
        data-position="top" data-tooltip="{{ title }}" href="{{ link }}"><b>&nbsp;{{ name }}&nbsp;</b></a>&nbsp;&nbsp;
    {{/external_links}}
  </div>

  <!-- ADMIN GRID -->
  <div class="row grid" style="overflow:hidden" style="padding-top:3px">

    <!-- DATA -->
    <div class="col l4 m6 s12">
      <div class="row center extrapadding">
          <h5>{{ l.a_locales }}&nbsp;<span id="csv_ping" class="mono">&nbsp;</span></h5>
        <p id="a_update_info"></p>
        <p style="font-size:10px!important">
          PHP ver. <b>{{ PHP_VERSION }}</b><br>
          Tesseract LASAGNA 2.0<br>
          App ver. <b>{{ VERSION_SHORT }}</b> / <b>{{ VERSION_DATE }}</b> / rev. <b>{{ REVISIONS }}</b><br>
        </p>
        <div class="col s12 white">
          <label>{{ l.a_profiles }}</label>
          <select id="SiteSelect">
            <option value="" disabled selected>&hellip;</option>
            {{#multisite_names}}
            <option value="{{.}}">{{.}}</option>
            {{/multisite_names}}
          </select>
        </div>

        <div id="domains" style="font-size:12px!important;color:#888!important" class="container"></div>

        <div class="col s12 white">
          <label>{{ l.a_articles }}</label>
          <select id="ArticleURLSelect"></select>
        </div>

        <a id="a_files"
          data-position="top" data-tooltip="{{ l.a_files_ttip }}"
          style="margin:5px" class="tooltipped waves-effect blue waves btn"><i class="fas fa-archive"></i></a>
        <a id="a_upload"
          data-position="top" data-tooltip="{{ l.a_upload_ttip }}"
          style="margin:5px" class="tooltipped waves-effect blue waves btn"><i class="fas fa-upload"></i></a>
        <a id="a_summernote"
          data-position="top" data-tooltip="{{ l.a_summernote_ttip }}"
          style="margin:5px" class="tooltipped waves-effect green waves-light btn">
          <i class="fas fa-edit"></i>&nbsp;{{ l.a_summernote }}</a>
        <a id="a_article"
          data-position="top" data-tooltip="{{ l.a_article_ttip }}"
          style="margin:5px" class="tooltipped waves-effect green waves-light btn">
          <i class="fas fa-plus-square"></i>&nbsp;URL</a>&nbsp;<span id="summer_ping" class="mono">&nbsp;</span>

        <div class="container">
          {{#request_path_slug}}
          {{#GET.profile}}
          <span title="📋 {{ l.a_copy_tit }}" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy="{{ BASE }}{{ lang }}/exportHTML/{{ GET.profile }}{{ request_path_slug }}">📋</span>
          &nbsp;
          <a target=_blank
            href="{{ BASE }}{{ lang }}/exportHTML/{{ GET.profile }}{{ request_path_slug }}">🌍 exportHTML</a>
          &nbsp;
          <span title="📋 Remote Content for WordPress" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy='[remote_content url="{{ BASE }}{{ lang }}/exportHTML/{{ GET.profile }}{{ request_path_slug }}"]'>📋&nbsp;RCWP</span>&nbsp;&nbsp;
          {{/GET.profile}}

          {{^GET.profile}}
          <span title="📋 {{ l.a_copy_tit }}" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy="{{ BASE }}{{ lang }}/exportHTML/default{{ request_path_slug }}">📋</span>
          &nbsp;
          <a target=_blank
            href="{{ BASE }}{{ lang }}/exportHTML/default{{ request_path_slug }}">🌍 exportHTML</a>
          &nbsp;
          <span title="📋 Remote Content for WordPress" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy='[remote_content url="{{ BASE }}{{ lang }}/exportHTML/default{{ request_path_slug }}"]'>📋&nbsp;RCWP</span>&nbsp;&nbsp;
          {{/GET.profile}}
          {{/request_path_slug}}

          {{^request_path_slug}}
          {{#GET.profile}}
          <span title="📋 {{ l.a_copy_tit }}" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy="{{ BASE }}{{ lang }}/exportHTML/{{ GET.profile }}/!">📋</span>
          &nbsp;
          <a target=_blank
            href="{{ BASE }}{{ lang }}/exportHTML/{{ GET.profile }}/!">🌍 exportHTML</a>
          &nbsp;
          <span title="📋 Remote Content for WordPress" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy='[remote_content url="{{ BASE }}{{ lang }}/exportHTML/{{ GET.profile }}/!"]'>📋&nbsp;RCWP</span>&nbsp;&nbsp;
          {{/GET.profile}}

          {{^GET.profile}}
          <span title="📋 {{ l.a_copy_tit }}" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy="{{ BASE }}{{ lang }}/exportHTML/default/!">📋</span>
          &nbsp;
          <a target=_blank
            href="{{ BASE }}{{ lang }}/exportHTML/default/!">🌍 exportHTML</a>
          &nbsp;
          <span title="📋 Remote Content for WordPress" onclick="javascript:GSC.CopyThisText(this)" class="hover"
            data-copy='[remote_content url="{{ BASE }}{{ lang }}/exportHTML/default/!"]'>📋&nbsp;RCWP</span>&nbsp;&nbsp;
          {{/GET.profile}}
          {{/request_path_slug}}
        </div>

      </div>
    </div>

    <!-- CACHE -->
    <div class="col l4 m6 s12">
      <div class="row center extrapadding">
        <h5>{{ l.a_cache }}</h5>
        <div class="container">
          <span class="nowrap">default: <b>{{ cache_profiles.default }}</b></span>&nbsp;
          <span class="nowrap">CSV: <b>{{ cache_profiles.csv }}</b></span>&nbsp;
          <span class="nowrap">{{ l.a_limiter }}: <b>{{ CONST.LIMITER_MAXIMUM }}x</b> / <b>{{ cache_profiles.limiter }}</b></span>&nbsp;
          <span class="nowrap">{{ l.a_webpage }}: <b>{{ cache_profiles.page }}</b></span>
        </div>
        <div class="row center">
          <a id="a_update" style="margin:5px;" class="tooltipped waves-effect green waves-light btn"
            data-position="top" data-tooltip="{{ l.a_update_ttip }}">
            <i class="fab fa-google-drive"></i>
            {{ l.a_update }}</a>
          <a id="a_flush" style="margin:5px;" class="tooltipped waves-effect green waves-light btn"
            data-position="top" data-tooltip="{{ l.a_flush_ttip }}">
            <i class="fas fa-cloud-sun"></i>
            {{ l.a_flush }}</a>
        </div>
      </div>

      <!-- CHANGELOG -->
      <div class="hide-on-small-only">
        <div class="row center extrapadding">
          <h5>{{ l.a_changes }} <i class="hover open_news fas fa-arrow-down blue-text"></i>
            <i class="hover close_news fas fa-arrow-up blue-text hide"></i></h5>
          <div id="news" class="row grey-text hide" style="margin-top:1em">
            <div class="grey-text left-align container">
              {{ l.a_changelog }}
            </div>
          </div>
        </div>
      </div>

      <!-- ICON BUTTONS -->
      <h4 class="center">
        <a rel="noreferrer noopener" target="_blank" class="tooltipped blue-text text" data-position="top"
          data-tooltip="{{ l.a_github_ttip }}" href="https://github.com/gscloud"><i class="fab fa-git"></i></a>
        <a rel="noreferrer noopener" target="_blank" class="tooltipped orange-text text" data-position="top"
          data-tooltip="{{ l.a_sysinfo_ttip }}" href="https://sys.gscloud.cz">
          <i class="fas fa-server"></i></a>
        <a rel="noreferrer noopener" target="_blank" class="tooltipped red-text text"
          data-position="top" data-tooltip="{{ l.a_lasagna_manual_ttip }}" href="{{ l.a_lasagna_manual_url }}">
          <i class="fas fa-dna"></i></a>
        <a rel="noreferrer noopener" target="_blank" class="tooltipped white-text text" data-position="top"
          data-tooltip="{{ l.a_locale_template_ttip }}" href="{{ l.a_locale_template_url }}">
          <i class="fas fa-clone"></i></a>
        <a rel="noreferrer noopener" target="_blank" class="tooltipped blue-text text" data-position="top"
          data-tooltip="{{ l.a_php_ttip }}" href="https://php.gscloud.cz" style="font-size:0.8em">
          <span class="php1">p</span><span class="php2">h</span><span class="php3">p</span></a>
        {{#google_drive_backup}}
        <a rel="noreferrer noopener" target="_blank" class="tooltipped brown-text text" data-position="top"
          data-tooltip="{{ l.a_google_backup_ttip }}" href="{{ google_drive_backup }}">
          <i class="fas fa-warehouse"></i></a>
        {{/google_drive_backup}}
      </h4>

    </div>

    <!-- PERMISSIONS -->
    <div class="col l4 m6 s12">

      <!-- current user -->
      <div class="row center">
        <h5>{{ l.a_groups_permissions }}</h5>
        <strong>{{user.name}}</strong><br>
        <i style="font-size:smaller">{{user.email}}</i><br>
        <a id="a_logout" class="tooltipped waves-effect green waves-light btn"
          data-position="top" data-tooltip="{{ l.a_logout_ttip }}">
          <i class="fas fa-sign-out-alt"></i>
          {{ l.a_logout }}</a>
        <br>
        <a id="a_clearbrowserdata" style="margin:5px;" class="tooltipped waves-effect red waves-light btn"
          data-position="top" data-tooltip="{{ l.a_clear_browser_ttip }}">
          <i class="fas fa-power-off"></i>
          {{ l.a_clear_browser }}</a>
      </div>

      <div class="row center extrapadding">
        <div class="white-text">
          <div class="row center hide-on-small-only">
            <strong>ADMIN</strong>
            <div class="container">
              <p class="orange-text">{{#admin_groups.admin}}{{ . }} {{/admin_groups.admin}}
                {{^admin_groups.admin}}<i class="red-text fas fa-times"></i>{{/admin_groups.admin}}</p>
            </div>
            <strong>EDITOR</strong>
            <div class="container">
              <p class="orange-text">{{#admin_groups.editor}}{{ . }} {{/admin_groups.editor}}
                {{^admin_groups.editor}}<i class="red-text fas fa-times"></i>{{/admin_groups.editor}}</p>
            </div>
            <strong>TESTER</strong>
            <div class="container">
              <p class="orange-text">{{#admin_groups.tester}}{{ . }} {{/admin_groups.tester}}
                {{^admin_groups.tester}}<i class="red-text fas fa-times"></i>{{/admin_groups.tester}}</p>
            </div>
            <strong>DEFAULT</strong>
            <div class="container">
              <p class="orange-text">{{#admin_groups.default}}{{ . }} {{/admin_groups.default}}
                {{^admin_groups.default}}<i class="red-text fas fa-times"></i>{{/admin_groups.default}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- UPLOADS -->
  <div id="a_uploader_progress"></div>
  <div id="a_file_manager"></div>

</div>

<script>
{{>editor_main.js.mustache}}
</script>

<!-- SUMMERNOTE -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/theme/material-darker.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/addon/display/fullscreen.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/xml/xml.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/addon/display/fullscreen.min.js" defer></script>
<link href="{{ cdn }}/summernote/summernote-lite.min.css" rel="stylesheet">
<script src="{{ cdn }}/summernote/summernote-lite.min.js" defer></script>
{{#langcs}}<script src="{{ cdn }}/summernote/lang/summernote-cs-CZ.min.js" defer></script>{{/langcs}}

<!-- MOMENT -->
<script src="{{ cdn }}/js/moment-with-locales.min.js" defer></script>

<!-- ZEROUPLOAD -->
<script src="{{ cdn }}/js/zeroupload.min.js" defer></script>
