{{#canonical_url}}

<div class="fb-like"
  data-action="like"
  data-colorscheme="light"
  data-href="{{ canonical_url }}{{ request_path }}"
  data-layout="button"
  data-share="false"
  data-show-faces="false"
  data-size="small"
></div>

{{/canonical_url}}
