{{^fb_disable}}
{{#canonical_url}}

<div class="fb-share-button"
  data-colorscheme="light"
  data-href="{{ canonical_url }}{{ request_path }}"
  data-layout="button"
  data-size="small"
></div>

{{/canonical_url}}
{{/fb_disable}}