<script>
  (function (w, d, undefined) {

    function checkNetwork(e) {
      if (navigator.onLine) {
        d.getElementsByTagName("html")[0].setAttribute("offline", false);
        d.getElementById("offline-message").setAttribute("aria-hidden", true);
        if (w.GSC) w.GSC.offline = false;
      } else {
        d.getElementsByTagName("html")[0].setAttribute("offline", true);
        d.getElementById("offline-message").setAttribute("aria-hidden", false);
        if (w.GSC) w.GSC.offline = true;
      }
    }

    if ("onLine" in navigator) {
      w.addEventListener("load", function () {
        w.addEventListener("online", checkNetwork);
        w.addEventListener("offline", checkNetwork);
        checkNetwork();
      });
    }

    // GLOBAL setCookie()
    if (typeof w.setCookie !== "function") window.setCookie = function (key, value, days) {
      var expires = "";
      var d = days ? parseInt(days) : 30;
      var date = new Date();
      date.setTime(date.getTime() + (d * 86400));
      expires = ";expires=" + date.toGMTString();
      document.cookie = key + "=" + value + ";path=/" + expires;
    }

    // GLOBAL getCookie()
    if (typeof w.getCookie !== "function") window.getCookie = function (key) {
      var v = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
      return v ? v[2] : null;
    }

    // GLOBAL delCookie()
    if (typeof w.delCookie !== "function") window.delCookie = function (key) {
      var date = new Date();
      date.setTime(0);
      expires = ";expires=" + date.toGMTString();
      document.cookie = key + "=;path=/" + expires;
    }

    if (w.GSC) {

      // touch
      w.GSC.touch = ("ontouchstart" in w || w.DocumentTouch && d instanceof DocumentTouch) ?
        true : false;
      if (w.GSC.touch) d.getElementsByTagName("html")[0].setAttribute("touch", true);

      // FormatBytes()
      if (typeof w.GSC.FormatBytes !== "function") w.GSC.FormatBytes = function (number, precision) {
        number = parseInt(number);
        if (!number) return "0";
        var c = 1024,
          d = precision || 2,
          e = ["B", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"],
          f = Math.floor(Math.log(number) / Math.log(c));
        return parseFloat((number / Math.pow(c, f)).toFixed(d)) + "&nbsp;" + e[f];
      }

      // GetTime()
      if (typeof w.GSC.GetTime !== "function") w.GSC.GetTime = function (dateString) {
        function ext(x) {
          x = ("" + x).slice(-1);
          if (x == 1) return "st";
          if (x == 2) return "nd";
          if (x == 3) return "rd";
          return "th";
        }
        var dayz = ["", "{{l.day_of_the_week_1}}", "{{l.day_of_the_week_2}}", "{{l.day_of_the_week_3}}",
          "{{l.day_of_the_week_4}}", "{{l.day_of_the_week_5}}", "{{l.day_of_the_week_6}}",
          "{{l.day_of_the_week_7}}"
        ];
        var monthz = ["", "{{l.month_1}}", "{{l.month_2}}", "{{l.month_3}}", "{{l.month_4}}",
          "{{l.month_5}}", "{{l.month_6}}", "{{l.month_7}}", "{{l.month_8}}", "{{l.month_9}}",
          "{{l.month_10}}", "{{l.month_11}}", "{{l.month_12}}"
        ];
        var monthz2p = ["", "{{l.month_2p_1}}", "{{l.month_2p_2}}", "{{l.month_2p_3}}", "{{l.month_2p_4}}",
          "{{l.month_2p_5}}", "{{l.month_2p_6}}", "{{l.month_2p_7}}", "{{l.month_2p_8}}", "{{l.month_2p_9}}",
          "{{l.month_2p_10}}", "{{l.month_2p_11}}", "{{l.month_2p_12}}"
        ];
        var z = new Date();
        if (dateString) {
          var z = new Date(dateString);
        }
        var x = {};
        x.day = ("" + z.getDay());
        x.day_str = dayz[z.getDay()];
        x.h = ("" + z.getHours());
        x.hh = ("0" + z.getHours()).slice(-2);
        x.yy = ("" + z.getFullYear()).slice(-2);
        x.yyyy = ("" + z.getFullYear());
        x.m = ("" + (z.getMonth() + 1));
        x.mm = ("0" + (z.getMonth() + 1)).slice(-2);
        x.month_str = monthz[x.m];
        x.month_str2p = monthz2p[x.m];
        x.d = z.getDate();
        x.dd = ("0" + z.getDate()).slice(-2);
        x.today = x.dd + "." + x.mm + "." + x.yyyy;
        if ("{{ langcs }}") { // Czech locale
          x.today_str = x.day_str + " " + x.d + ". " + monthz2p[x.m] + " " + x.yyyy;
        }
        if ("{{ langen }}") { // English locale
          x.today_str = x.day_str + " " + x.d + ext(x.d) + " " + monthz[x.m] + ", " + x.yyyy;
        }
        x.d = z;
        return x;
      }

      // CopyClipboard()
      if (typeof w.GSC.CopyClipboard !== "function") w.GSC.CopyClipboard = function (dataString) {
        var el = d.createElement('textarea');
        el.value = dataString;
        el.setAttribute("readonly", "");
        el.style.position = "absolute";
        el.style.left = "-9999px";
        d.body.appendChild(el);
        var selected =
          d.getSelection().rangeCount > 0 ? d.getSelection().getRangeAt(0) : false;
        el.select();
        d.execCommand("copy");
        d.body.removeChild(el);
        if (selected) {
          d.getSelection().removeAllRanges();
          d.getSelection().addRange(selected);
        }
      }

      // DELAYED UI bindings
      w.GSC.init.push(function () {
        w.GSC.names.push("UI bindings");
        $(".sethlcs").click(function () {
          setCookie("hl", "cs");
        });
        $(".sethlen").click(function () {
          setCookie("hl", "en");
        });
        $("#update-message").click(function () {
          window.location.reload(true);
        });
      });

      // DELAYED version and data check
      w.GSC.init.push(function () {
        w.GSC.names.push("version check");

        if (typeof w.GSC.VersionCheck !== "function") w.GSC.VersionCheck = function () {
          if (!w.GSC.offline) {
            $.post("/version/core", function (post) {
              if (post.data.LASAGNA.core.version) {
                if (post.data.LASAGNA.core.version != GSC.LASAGNA.core.version) {
                  $("#update-message").show();
                  w.GSC.VersionCheck = function () {};
                  console.log("UPDATE: core version check failed!");
                  return;
                }
              }
            });
            $.post("/{{ lang }}/version/data", function (post) {
              if (post.data.LASAGNA.data.version) {
                if (post.data.LASAGNA.data.version != GSC.LASAGNA.data.version) {
                  $("#update-message").show();
                  w.GSC.VersionCheck = function () {};
                  console.log("UPDATE: {{ lang }} data version check failed!");
                  return;
                }
              }
            });
            setTimeout("window.GSC.VersionCheck()", 30000);
          }
        }

        setTimeout("window.GSC.VersionCheck()", 5000);
      });

    }
  })(window, document);
</script>
