<style>
h1{display:none}
h2,h3{font-family:'Aladin',cursive}
#nav-mobile a{font-size:1.5em}
.fa-facebook, .fa-instagram {font-size:2em}
.motto {font-family:'Amatic SC',cursive}
.white-a {color:#fff!important;border-bottom:2px solid #fff}
</style>
