{{>admin_main}}

<header class="main-header">
  <nav class="navbar">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">menu</span>
    </a>
    {{>html_navbar}}
  </nav>
</header>
