{{^LOCALHOST}}
{{#l.onesignal_appid}}
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function () {
    OneSignal.init({
      appId: "{{ l.onesignal_appid }}",
    });
  });

</script>
{{/l.onesignal_appid}}
{{/LOCALHOST}}
