<!-- WRENCH -->
<span style="position:fixed;left:0;top:0;z-index:999999" class="motyle btn white hide-on-med-and-down">🛠️</span>
<span style="position:fixed;right:0;top:0;z-index:999999" class="motyle btn white hide-on-large-only">🛠️</span>

<!-- ADMIN PANEL -->
<div id="admin_main" class="row center black white-text" style="display:none;margin:0!important">

  <!-- DEVICE ROTATION INFO -->
  <div id="a_rotate_device" class="row center" style="padding-top:3px">
    {{ l.a_rotate_device }}
  </div>

  <!-- CUSTOM PANEL -->
  {{>admin_custom}}

  <!-- EXTERNAL LINKS -->
  <div class="row center black">
    {{#external_links}}
      <a rel="noreferrer noopener" target="_blank" class="tooltipped green white-text" style="padding:4px;line-height:2em;border-radius:2px"
        data-position="top" data-tooltip="{{ title }}" href="{{ link }}"><b>&nbsp;{{ name }}&nbsp;</b></a>&nbsp;&nbsp;
    {{/external_links}}
  </div>

  <!-- TESTER GRID -->
  <div class="row grid" style="overflow:hidden" style="padding-top:3px">

    <!-- 1st COLUMN -->
    <div class="col l4 m6 s12">
      <div class="row center extrapadding">
          <h5>{{ l.a_locales }}&nbsp;<span id="csv_ping" class="mono">&nbsp;</span></h5>
        <p id="a_update_info"></p>
        <p style="font-size:12px!important">
          PHP <b>{{ PHP_VERSION }}</b><br>
          Tesseract LASAGNA 2.0<br>
          App <b>{{ VERSION_SHORT }}</b> / <b>{{ VERSION_DATE }}</b> / rev. <b>{{ REVISIONS }}</b><br>
        </p>

        <div class="col s12 white">
          <label>{{ l.a_profiles }}</label>
          <select id="SiteSelect">
            <option value="" disabled selected>&hellip;</option>
            {{#multisite_names}}
            <option value="{{.}}">{{.}}</option>
            {{/multisite_names}}
          </select>
        </div>

        <div id="domains" style="font-size:12px!important;color:#888!important" class="container"></div>

      </div>
    </div>

    <!-- 2nd COLUMN -->
    <div class="col l4 m6 s12">
      <div class="row center extrapadding">
        <h5>{{ l.a_cache }}</h5>
        <div class="container">
          <span class="nowrap">default: <b>{{ cache_profiles.default }}</b></span>&nbsp;
          <span class="nowrap">CSVs: <b>{{ cache_profiles.csv }}</b></span>&nbsp;
          <span class="nowrap">{{ l.a_limiter }}: <b>{{ CONST.LIMITER_MAXIMUM }}x</b> / <b>{{ cache_profiles.limiter }}</b></span>&nbsp;
          <span class="nowrap">{{ l.a_webpage }}: <b>{{ cache_profiles.page }}</b></span>
        </div>
      </div>

      <!-- CHANGELOG -->
      <div class="hide-on-small-only">
        <div class="row center extrapadding">
          <h5>{{ l.a_changes }} <i class="hover open_news fas fa-arrow-down blue-text"></i>
            <i class="hover close_news fas fa-arrow-up blue-text hide"></i>&nbsp;<span class="yellow-text right hide" id="newsdot">!&nbsp;&nbsp;</span></h5>
          <div id="news" class="row grey-text hide" style="margin-top:1em">
            <div id="newscontent" class="grey-text left-align container">
              {{ l.a_changelog }}
            </div>
          </div>
        </div>
      </div>

      <!-- ICON BUTTONS -->
      <h4 class="center">
        <a rel="noreferrer noopener" target="_blank" class="tooltipped blue-text text" data-position="top"
          data-tooltip="{{ l.a_github_ttip }}" href="https://github.com/gscloud"><i class="fab fa-git"></i></a>
        <a rel="noreferrer noopener" target="_blank" class="tooltipped orange-text text" data-position="top"
          data-tooltip="{{ l.a_sysinfo_ttip }}" href="https://sys.gscloud.cz">
          <i class="fas fa-server"></i></a>
        <a rel="noreferrer noopener" target="_blank" class="tooltipped white-text text" data-position="top"
          data-tooltip="{{ l.a_locale_template_ttip }}" href="{{ l.a_locale_template_url }}">
          <i class="fas fa-clone"></i></a>
        <a rel="noreferrer noopener" target="_blank" class="tooltipped blue-text text" data-position="top"
          data-tooltip="{{ l.a_php_ttip }}" href="https://php.gscloud.cz" style="font-size:0.8em">
          <span class="php1">p</span><span class="php2">h</span><span class="php3">p</span></a>
        {{#google_drive_backup}}
        <a rel="noreferrer noopener" target="_blank" class="tooltipped brown-text text" data-position="top"
          data-tooltip="{{ l.a_google_backup_ttip }}" href="{{ google_drive_backup }}">
          <i class="fas fa-warehouse"></i></a>
        {{/google_drive_backup}}
      </h4>

    </div>

    <!-- 3rd COLUMN -->
    <div class="col l4 m6 s12">

      <!-- CURRENT USER -->
      <div class="row center extrapadding">
        <h5>{{ l.a_groups_permissions }}</h5>
        <strong>{{user.name}}</strong><br>
        <i style="font-size:smaller">{{user.email}}</i><br>
        <a id="a_logout" class="tooltipped waves-effect green waves-light btn"
          data-position="top" data-tooltip="{{ l.a_logout_ttip }}">
          <i class="fas fa-sign-out-alt"></i>
          {{ l.a_logout }}</a>
      </div>

      <div class="row center extrapadding">
        <div class="white-text">
          <div class="row center hide-on-small-only">
            <strong>ADMIN</strong>
            <div class="container">
              <p class="orange-text">{{#admin_groups.admin}}{{ . }} {{/admin_groups.admin}}
                {{^admin_groups.admin}}<i class="red-text fas fa-times"></i>{{/admin_groups.admin}}</p>
            </div>
            <strong>EDITOR</strong>
            <div class="container">
              <p class="orange-text">{{#admin_groups.editor}}{{ . }} {{/admin_groups.editor}}
                {{^admin_groups.editor}}<i class="red-text fas fa-times"></i>{{/admin_groups.editor}}</p>
            </div>
            <strong>TESTER</strong>
            <div class="container">
              <p class="orange-text">{{#admin_groups.tester}}{{ . }} {{/admin_groups.tester}}
                {{^admin_groups.tester}}<i class="red-text fas fa-times"></i>{{/admin_groups.tester}}</p>
            </div>
            <strong>DEFAULT</strong>
            <div class="container">
              <p class="orange-text">{{#admin_groups.default}}{{ . }} {{/admin_groups.default}}
                {{^admin_groups.default}}<i class="red-text fas fa-times"></i>{{/admin_groups.default}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
{{>tester_main.js.mustache}}
</script>
