<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center" data-admin-tooltip="title">{{ l.title }}</h1>
    <h2 class="header center black-text" data-admin-tooltip="title">{{ l.title }}</h2>
    <div class="row center">
      <img class="responsive-img" width=512 height=512 src="{{ cdn }}/img/logo.webp" alt="{{ l.title }}">
      <h3 class="header col s12 light" data-admin-tooltip="intro">{{ l.intro }}</h3>
    </div>
  </div>
</div>
