<script>
  // inject Twitter platform
  window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };
    return t;
  }(document, "script", "twitter-wjs"));

  if (typeof window.TwitterShareFactory !== "function") window.TwitterShareFactory = function (el, text, url, hashtags) {
    if (text === undefined) text = "";
    if (hashtags === undefined) hashtags = "";
    if (!el) {
      console.log("missing DOM element to append Twitter button:\n\nwindow.TwitterShareFactory(el, text, url, hashtags)");
      return false;
    }
    url = url || "{{ canonical_url }}{{ request_path }}";
    url = url.replace(new RegExp(/['\"\n\r\s]*/, "g"), "").trim();
    twttr.widgets.createShareButton(url, el, {
      dnt: true,
      hashtags: hashtags,
      lang: "{{ lang }}",
      related: "",
      text: text
    });
  }

</script>
