{{#l.twitter}}
<a
    class="twitter-timeline"
    href="https://twitter.com/{{ l.twitter }}?ref_src=twsrc%5Etfw">Tweets by {{ l.twitter }}</a> 
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{{/l.twitter}}
