<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body style="text-align:center">
  <h1 style="font-size:8rem">🛸</h1>
  <h2 style="text-align:center">no internet connection</h2>
  <h3 style="text-align:center"><a
    rel="noopener nofollow"
    style="color:red;text-decoration:none;font-weight:bold"
    href="javascript:location.reload();"
    ><br>click to retry ↻
  </a>
</h3>
</body>
</html>