{{#robots_disabled}}
User-agent: {{.}}
Disallow: /

{{/robots_disabled}}

User-agent: *
Allow: /
Disallow: /admin
Disallow: /login

User-agent: Googlebot
Allow: /
Disallow: /admin
Disallow: /login

User-agent: SeznamBot
Request-rate: 1/5s
Disallow: /admin
Disallow: /login
