{{#robots_disabled}}
User-agent: {{.}}
Disallow: /

{{/robots_disabled}}
User-agent: *
Allow: /
Disallow: /err
Disallow: /login

User-agent: Googlebot
Allow: /
Disallow: /err
Disallow: /login

User-agent: SeznamBot
Allow: /
Request-rate: 1/5s
Disallow: /err
Disallow: /login
