.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.cc-window {
  text-align: -webkit-center !important;
  text-align: center !important;
}
.footer-a {
  border-bottom: 2px solid #ccc !important;
}
